In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
def scraping(file):

    soup = BeautifulSoup(file,'lxml')
    
    container = soup.find_all('div',class_="mb-srp__card__container")
    container1 = soup.find_all('div',class_='mb-srp__card__estimate')

    title = []
    typeArea = []
    sqft = []
    transaction = []
    status = []
    floor = []
    furnishing = []
    facing = []
    price = []
    price_per_sqft = []
    description = []
    # link = []
    
    for i in container:
        #title
        try:
            title.append(i.find('h2',class_='mb-srp__card--title').text)
        except:
            title.append(np.nan)
    
        #link
        # try:
        #     link.append(i.find_all('img')['src'])
        # except:
        #     link.append(np.nan)
    
        #type of area
        try:
            typeArea.append(i.find_all('div',class_='mb-srp__card__summary--label')[0].text)
        except:
            typeArea.append(np.nan)
    
        #square feet
        try:
            sqft.append(i.find_all('div',class_='mb-srp__card__summary--value')[0].text)
        except:
            sqft.append(np.nan)
    
        #transaction
        try:
            transaction.append(i.find_all('div',class_='mb-srp__card__summary--value')[3].text)
        except:
            transaction.append(np.nan)
    
        #status
        try:
            status.append(i.find_all('div',class_='mb-srp__card__summary--value')[1].text)
        except:
            status.append(np.nan)    
    
        #floor
        try:
            floor.append(i.find_all('div',class_='mb-srp__card__summary--value')[2].text)
        except:
            floor.append(np.nan)
    
        #furnishing
        try:
            furnishing.append(i.find_all('div',class_='mb-srp__card__summary--value')[4].text)
        except:
            furnishing.append(np.nan)
    
        #facing
        try:
            facing.append(i.find_all('div',class_='mb-srp__card__summary--value')[5].text)
        except:
            facing.append(np.nan)    
    
        #description
        try:
            description.append(i.find('div',class_='mb-srp__card--desc--text').text)
        except:
            description.append(np.nan)  
        
    for j in container1:
        #price
        try:
            price.append(j.find('div',class_='mb-srp__card__price--amount').text)
        except:
            price.append(np.nan)    
            
        #price_per_sqft
        try:
            price_per_sqft.append(j.find('div',class_='mb-srp__card__price--size').text)
        except:
            price_per_sqft.append(np.nan)    
    
    # title = []
    # typeArea = []
    # sqft = []
    # transaction = []
    # status = []
    # floor = []
    # furnishing = []
    # facing = []
    # price = []
    # price_per_sqft = []
    # description = []
    
    df = pd.DataFrame({
        'property_name' : title,
        'areaWithType' : typeArea,
        'square_feet' : sqft,
        'transaction' : transaction,
        'status' : status,
        'floor' : floor,
        'furnishing' : furnishing,
        'facing' : facing,
        'description' : description,
        'price_per_sqft' : price_per_sqft,
        'price' : price
    })

    return df

In [3]:
with open('ahmedabad-1.html','r',encoding='utf-8') as f:
    ahmedabad1 = f.read()
    
data1 = scraping(ahmedabad1)

In [4]:
with open('ahmedabad-2.html','r',encoding='utf-8') as f:
    ahmedabad2 = f.read()
    
data2 = scraping(ahmedabad2)

In [5]:
with open('ahmedabad-3.html','r',encoding='utf-8') as f:
    ahmedabad3 = f.read()
    
data3 = scraping(ahmedabad3)

In [6]:
with open('ahmedabad-4.html','r',encoding='utf-8') as f:
    ahmedabad4 = f.read()
    
data4 = scraping(ahmedabad4)

In [7]:
with open('ahmedabad-5.html','r',encoding='utf-8') as f:
    ahmedabad5 = f.read()
    
data5 = scraping(ahmedabad5)

In [8]:
with open('ahmedabad-6.html','r',encoding='utf-8') as f:
    ahmedabad6 = f.read()
    
data6 = scraping(ahmedabad6)

In [9]:
with open('ahmedabad-7.html','r',encoding='utf-8') as f:
    ahmedabad7 = f.read()
    
data7 = scraping(ahmedabad7)

In [10]:
with open('ahmedabad-8.html','r',encoding='utf-8') as f:
    ahmedabad8 = f.read()
    
data8 = scraping(ahmedabad8)

In [11]:
with open('ahmedabad-9.html','r',encoding='utf-8') as f:
    ahmedabad9 = f.read()
    
data9 = scraping(ahmedabad9)

In [12]:
with open('ahmedabad-10.html','r',encoding='utf-8') as f:
    ahmedabad10 = f.read()
    
data10 = scraping(ahmedabad10)

In [13]:
with open('ahmedabad-11.html','r',encoding='utf-8') as f:
    ahmedabad11 = f.read()
    
data11 = scraping(ahmedabad11)

In [14]:
with open('ahmedabad-12.html','r',encoding='utf-8') as f:
    ahmedabad12 = f.read()
    
data12 = scraping(ahmedabad12)

In [15]:
with open('ahmedabad-13.html','r',encoding='utf-8') as f:
    ahmedabad13 = f.read()
    
data13 = scraping(ahmedabad13)

In [16]:
with open('ahmedabad-14.html','r',encoding='utf-8') as f:
    ahmedabad14 = f.read()
data14 = scraping(ahmedabad14)

In [17]:
with open('ahmedabad-15.html','r',encoding='utf-8') as f:
    ahmedabad15 = f.read()
data15 = scraping(ahmedabad15)

In [18]:
with open('ahmedabad-16.html','r',encoding='utf-8') as f:
    ahmedabad16 = f.read()
data16 = scraping(ahmedabad16)

In [19]:
with open('ahmedabad-17.html','r',encoding='utf-8') as f:
    ahmedabad17 = f.read()
data17 = scraping(ahmedabad17)

In [20]:
with open('ahmedabad-18.html','r',encoding='utf-8') as f:
    ahmedabad18 = f.read()
data18 = scraping(ahmedabad18)

In [21]:
print(data1.shape)
print(data2.shape)
print(data3.shape)
print(data4.shape)
print(data5.shape)
print(data6.shape)
print(data7.shape)
print(data8.shape)
print(data9.shape)
print(data10.shape)
print(data11.shape)
print(data12.shape)
print(data13.shape)
print(data14.shape)
print(data15.shape)
print(data16.shape)
print(data17.shape)
print(data18.shape)

(1470, 11)
(1020, 11)
(960, 11)
(1175, 11)
(1461, 11)
(1401, 11)
(1020, 11)
(1020, 11)
(1500, 11)
(1230, 11)
(1410, 11)
(1380, 11)
(1243, 11)
(1500, 11)
(1339, 11)
(1428, 11)
(696, 11)
(1214, 11)

In [22]:
print(data1.duplicated().sum())
print(data2.duplicated().sum())
print(data3.duplicated().sum())
print(data4.duplicated().sum())
print(data5.duplicated().sum())
print(data6.duplicated().sum())
print(data7.duplicated().sum())
print(data8.duplicated().sum())
print(data9.duplicated().sum())
print(data10.duplicated().sum())
print(data11.duplicated().sum())
print(data12.duplicated().sum())
print(data13.duplicated().sum())
print(data14.duplicated().sum())
print(data15.duplicated().sum())
print(data16.duplicated().sum())
print(data17.duplicated().sum())
print(data18.duplicated().sum())

22
3
13
21
13
25
9
11
22
17
29
32
26
39
45
42
14
19

In [23]:
data1.drop_duplicates(inplace=True)
data2.drop_duplicates(inplace=True)
data3.drop_duplicates(inplace=True)
data4.drop_duplicates(inplace=True)
data5.drop_duplicates(inplace=True)
data6.drop_duplicates(inplace=True)
data7.drop_duplicates(inplace=True)
data8.drop_duplicates(inplace=True)
data9.drop_duplicates(inplace=True)
data10.drop_duplicates(inplace=True)
data11.drop_duplicates(inplace=True)
data12.drop_duplicates(inplace=True)
data13.drop_duplicates(inplace=True)
data14.drop_duplicates(inplace=True)
data15.drop_duplicates(inplace=True)
data16.drop_duplicates(inplace=True)
data17.drop_duplicates(inplace=True)
data18.drop_duplicates(inplace=True)

In [24]:
print(data1.duplicated().sum())
print(data2.duplicated().sum())
print(data3.duplicated().sum())
print(data4.duplicated().sum())
print(data5.duplicated().sum())
print(data6.duplicated().sum())
print(data7.duplicated().sum())
print(data8.duplicated().sum())
print(data9.duplicated().sum())
print(data10.duplicated().sum())
print(data11.duplicated().sum())
print(data12.duplicated().sum())
print(data13.duplicated().sum())
print(data14.duplicated().sum())
print(data15.duplicated().sum())
print(data16.duplicated().sum())
print(data17.duplicated().sum())
print(data18.duplicated().sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [25]:
print(data1.shape)
print(data2.shape)
print(data3.shape)
print(data4.shape)
print(data5.shape)
print(data6.shape)
print(data7.shape)
print(data8.shape)
print(data9.shape)
print(data10.shape)
print(data11.shape)
print(data12.shape)
print(data13.shape)
print(data14.shape)
print(data15.shape)
print(data16.shape)
print(data17.shape)
print(data18.shape)

(1448, 11)
(1017, 11)
(947, 11)
(1154, 11)
(1448, 11)
(1376, 11)
(1011, 11)
(1009, 11)
(1478, 11)
(1213, 11)
(1381, 11)
(1348, 11)
(1217, 11)
(1461, 11)
(1294, 11)
(1386, 11)
(682, 11)
(1195, 11)

In [26]:
df = pd.concat([data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12,data13,data14,data15,data16,data17,data18],ignore_index=True)

In [27]:
df.shape

(22065, 11)

In [28]:
df.duplicated().sum()

3367

In [29]:
df.drop_duplicates(inplace=True)

In [30]:
df.shape

(18698, 11)

In [31]:
df.to_csv('ahmedabad.csv',index=False)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18698 entries, 0 to 22064
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   18698 non-null  object
 1   areaWithType    18694 non-null  object
 2   square_feet     18694 non-null  object
 3   transaction     18499 non-null  object
 4   status          18644 non-null  object
 5   floor           18546 non-null  object
 6   furnishing      18472 non-null  object
 7   facing          18397 non-null  object
 8   description     15668 non-null  object
 9   price_per_sqft  16798 non-null  object
 10  price           18698 non-null  object
dtypes: object(11)
memory usage: 1.7+ MB