In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [3]:
df = pd.read_csv('surat.csv')

In [4]:
df.head(2)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
0,"2 BHK Apartment for Sale in Pramukh Amaya, Pal...",Super Area,1311 sqft,Unfurnished,Poss. by Dec '24,New Property,Pramukh Amaya,2,"Multistorey Apartment for Sale in Palanpur, Su...","₹4,251 per sqft",₹55.7 Lac
1,"3 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1586 sqft,Orchid Gardenia,New Property,Unfurnished,3,3,"Multistorey Apartment for Sale in Palanpur, Su...","₹3,751 per sqft",₹59.5 Lac

In [5]:
df.tail(2)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
3379,5 BHK Apartment for Sale in Roongta Green Vall...,Carpet Area,2250 sqft,New Property,Poss. by Dec '25,7 out of 13,Unfurnished,North - East,"When it comes to beautiful homes, nothing beat...",NaN,Call for Price
3380,"6 BHK Apartment for Sale in Cellestial Dreams,...",Carpet Area,3450 sqft,New Property,Ready to Move,7 out of 18,Unfurnished,North - West,"DRB Ravani Cellestial Dreams in Vesu, Surat is...",NaN,Call for Price

In [6]:
df.sample(2)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
1546,"4 BHK Apartment for Sale in Happy Astoria, Ves...",Carpet Area,1660 sqft,Resale,Poss. by Jan '25,5 out of 13,Unfurnished,East,fully furnished luxurious flat with all electr...,"₹5,236 per sqft",₹1.55 Cr
2861,5 BHK Apartment for Sale in Ravani Dream Palac...,Carpet Area,5300 sqft,Resale,Ready to Move,11 out of 11,Unfurnished,East,"east facing, naked flat with all the facilitie...","₹10,074 per sqft",₹2.72 Cr

In [7]:
#shape of the data
df.shape

(3381, 11)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3381 entries, 0 to 3380
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   3381 non-null   object
 1   areaWithType    3380 non-null   object
 2   square_feet     3380 non-null   object
 3   transaction     3332 non-null   object
 4   status          3370 non-null   object
 5   floor           3351 non-null   object
 6   furnishing      3319 non-null   object
 7   facing          3287 non-null   object
 8   description     2456 non-null   object
 9   price_per_sqft  3056 non-null   object
 10  price           3381 non-null   object
dtypes: object(11)
memory usage: 290.7+ KB

# Delete Duplicate values

In [9]:
df.duplicated().sum()

74

In [10]:
#drop duplicate values

df.drop_duplicates(inplace=True)

In [11]:
df.shape

(3307, 11)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3307 entries, 0 to 3380
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   3307 non-null   object
 1   areaWithType    3306 non-null   object
 2   square_feet     3306 non-null   object
 3   transaction     3259 non-null   object
 4   status          3296 non-null   object
 5   floor           3277 non-null   object
 6   furnishing      3249 non-null   object
 7   facing          3219 non-null   object
 8   description     2408 non-null   object
 9   price_per_sqft  2991 non-null   object
 10  price           3307 non-null   object
dtypes: object(11)
memory usage: 310.0+ KB

In [13]:
df.isnull().sum()

property_name       0
areaWithType        1
square_feet         1
transaction        48
status             11
floor              30
furnishing         58
facing             88
description       899
price_per_sqft    316
price               0
dtype: int64

In [14]:
df.head()

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
0,"2 BHK Apartment for Sale in Pramukh Amaya, Pal...",Super Area,1311 sqft,Unfurnished,Poss. by Dec '24,New Property,Pramukh Amaya,2,"Multistorey Apartment for Sale in Palanpur, Su...","₹4,251 per sqft",₹55.7 Lac
1,"3 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1586 sqft,Orchid Gardenia,New Property,Unfurnished,3,3,"Multistorey Apartment for Sale in Palanpur, Su...","₹3,751 per sqft",₹59.5 Lac
2,"2 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1185 sqft,New Property,Ready to Move,5 out of 14,Unfurnished,East,2 BHK Flat For Sale In Palanpur area With All ...,"₹3,784 per sqft",₹44.8 Lac
3,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644 sqft,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...","₹2,891 per sqft",₹33.8 Lac
4,"2 BHK Apartment for Sale in Sumerru Sky Leaf, ...",Super Area,1204 sqft,New Property,Poss. by Jan '26,7 out of 14,Unfurnished,East,"This 2 BHK flat is incredibly affordable, with...","₹3,838 per sqft",₹46.2 Lac

# Price

In [15]:
df['price'].value_counts()

price
Call for Price    211
₹45 Lac            54
₹40 Lac            50
₹60 Lac            48
₹65 Lac            46
₹55 Lac            45
₹35 Lac            43
₹30 Lac            35
₹50 Lac            33
₹70 Lac            31
₹75 Lac            31
₹85 Lac            30
₹20 Lac            30
₹38 Lac            29
₹63 Lac            28
₹90 Lac            26
₹1.35 Cr           24
₹1 Cr              23
₹25 Lac            22
₹1.40 Cr           22
₹95 Lac            22
₹51 Lac            21
₹80 Lac            19
₹1.05 Cr           19
₹1.25 Cr           18
₹1.10 Cr           18
₹52 Lac            18
₹28 Lac            17
₹1.20 Cr           17
₹42 Lac            17
₹1.15 Cr           16
₹32 Lac            16
₹55.7 Lac          16
₹1.04 Cr           16
₹56 Lac            16
₹36 Lac            15
₹84 Lac            15
₹18 Lac            14
₹22 Lac            14
₹47 Lac            14
₹48 Lac            14
₹1.28 Cr           14
₹86 Lac            13
₹1.90 Cr           13
₹21 Lac            13
₹1.80 Cr           13
₹44 Lac            12
₹58 Lac            12
₹82 Lac            12
₹16 Lac            12
₹23 Lac            12
₹78 Lac            12
₹1.54 Cr           12
₹68 Lac            12
₹1.32 Cr           11
₹53 Lac            11
₹77 Lac            11
₹37 Lac            11
₹27 Lac            11
₹43 Lac            11
₹10 Lac            11
₹72 Lac            11
₹39 Lac            11
₹1.30 Cr           10
₹15 Lac            10
₹1.59 Cr           10
₹98 Lac            10
₹1.12 Cr           10
₹29 Lac            10
₹1.21 Cr           10
₹2 Cr              10
₹1.31 Cr            9
₹28.5 Lac           9
₹1.65 Cr            9
₹61 Lac             9
₹1.29 Cr            9
₹1.62 Cr            9
₹1.06 Cr            9
₹62 Lac             9
₹17 Lac             9
₹1.50 Cr            9
₹1.02 Cr            9
₹54.5 Lac           8
₹1.51 Cr            8
₹54 Lac             8
₹49 Lac             8
₹2.50 Cr            8
₹79 Lac             8
₹2.01 Cr            8
₹2.51 Cr            8
₹1.95 Cr            8
₹3.50 Cr            8
₹1.70 Cr            8
₹1.48 Cr            8
₹1.22 Cr            8
₹13 Lac             8
₹1.55 Cr            8
₹1.39 Cr            8
₹67.7 Lac           8
₹26 Lac             8
₹14 Lac             8
₹1.42 Cr            7
₹1.01 Cr            7
₹74 Lac             7
₹1.44 Cr            7
₹1.11 Cr            7
₹1.03 Cr            7
₹1.19 Cr            7
₹91 Lac             7
₹92 Lac             7
₹58.5 Lac           7
₹1.86 Cr            7
₹2.52 Cr            7
₹1.27 Cr            7
₹31 Lac             7
₹1.33 Cr            7
₹72.5 Lac           7
₹41 Lac             7
₹1.09 Cr            7
₹89.7 Lac           7
₹29.5 Lac           7
₹1.24 Cr            7
₹67 Lac             7
₹34 Lac             7
₹3 Cr               6
₹2.26 Cr            6
₹2.04 Cr            6
₹2.10 Cr            6
₹1.73 Cr            6
₹1.63 Cr            6
₹1.66 Cr            6
₹1.07 Cr            6
₹1.58 Cr            6
₹76 Lac             6
₹86.5 Lac           6
₹1.52 Cr            6
₹1.36 Cr            6
₹66 Lac             6
₹1.26 Cr            6
₹51.7 Lac           6
₹64 Lac             6
₹59 Lac             6
₹46.5 Lac           6
₹46 Lac             6
₹51.5 Lac           6
₹22.5 Lac           6
₹24 Lac             6
₹19 Lac             6
₹2.27 Cr            5
₹1.23 Cr            5
₹33 Lac             5
₹12 Lac             5
₹96 Lac             5
₹1.45 Cr            5
₹1.18 Cr            5
₹9.5 Lac            5
₹69.4 Lac           5
₹1.37 Cr            5
₹31.5 Lac           5
₹26.5 Lac           5
₹1.89 Cr            5
₹1.53 Cr            5
₹3.70 Cr            5
₹23.5 Lac           5
₹1.46 Cr            5
₹1.93 Cr            5
₹2.80 Cr            5
₹2.70 Cr            5
₹1.72 Cr            5
₹4 Cr               5
₹2.40 Cr            5
₹57 Lac             5
₹99 Lac             5
₹2.47 Cr            5
₹50.9 Lac           5
₹73 Lac             4
₹1.43 Cr            4
₹2.92 Cr            4
₹44.5 Lac           4
₹1.69 Cr            4
₹33.5 Lac           4
₹2.30 Cr            4
₹2.20 Cr            4
₹3.15 Cr            4
₹2.39 Cr            4
₹1.68 Cr            4
₹1.84 Cr            4
₹71 Lac             4
₹88.9 Lac           4
₹1.60 Cr            4
₹11 Lac             4
₹44.1 Lac           4
₹47.5 Lac           4
₹27.5 Lac           4
₹83 Lac             4
₹2.03 Cr            4
₹57.5 Lac           4
₹88 Lac             4
₹2.15 Cr            4
₹8.5 Lac            4
₹61.6 Lac           4
₹59.7 Lac           4
₹48.5 Lac           4
₹62.5 Lac           4
₹52.5 Lac           4
₹1.08 Cr            4
₹67.5 Lac           4
₹1.56 Cr            4
₹75.1 Lac           4
₹1.17 Cr            4
₹64.6 Lac           4
₹1.64 Cr            4
₹44.2 Lac           4
₹1.77 Cr            4
₹75.4 Lac           4
₹1.38 Cr            4
₹71.7 Lac           4
₹69 Lac             4
₹1.75 Cr            4
₹58.8 Lac           4
₹1.34 Cr            3
₹2.11 Cr            3
₹18.5 Lac           3
₹2.18 Cr            3
₹65.5 Lac           3
₹39.5 Lac           3
₹3.24 Cr            3
₹1.49 Cr            3
₹14.5 Lac           3
₹44.8 Lac           3
₹1.85 Cr            3
₹79.2 Lac           3
₹1.82 Cr            3
₹1.71 Cr            3
₹81 Lac             3
₹86.7 Lac           3
₹10.5 Lac           3
₹2.60 Cr            3
₹72.1 Lac           3
₹53.2 Lac           3
₹85.6 Lac           3
₹3.53 Cr            3
₹1.94 Cr            3
₹1.97 Cr            3
₹100 Lac            3
₹1.61 Cr            3
₹1.88 Cr            3
₹73.9 Lac           3
₹78.2 Lac           3
₹2.36 Cr            3
₹1.99 Cr            3
₹2.28 Cr            3
₹79.9 Lac           3
₹3.23 Cr            3
₹42.5 Lac           3
₹2.07 Cr            3
₹85.1 Lac           3
₹53.5 Lac           3
₹82.5 Lac           3
₹94 Lac             3
₹17.5 Lac           3
₹12.5 Lac           3
₹2.59 Cr            3
₹2.02 Cr            3
₹84.6 Lac           3
₹1.13 Cr            3
₹91.5 Lac           3
₹16.5 Lac           3
₹2.16 Cr            3
₹4.50 Cr            3
₹87 Lac             3
₹1.57 Cr            3
₹99.6 Lac           3
₹5.72 Cr            3
₹2.85 Cr            3
₹1.79 Cr            3
₹2.35 Cr            3
₹3.20 Cr            3
₹2.58 Cr            3
₹1.76 Cr            3
₹50.8 Lac           3
₹1.92 Cr            3
₹3.11 Cr            3
₹43.9 Lac           3
₹56.4 Lac           3
₹28.2 Lac           3
₹2.61 Cr            3
₹53.6 Lac           3
₹3.96 Cr            3
₹7.65 Cr            3
₹36.5 Lac           3
₹67.8 Lac           2
₹94.8 Lac           2
₹35.5 Lac           2
₹2.14 Cr            2
₹48.8 Lac           2
₹76.2 Lac           2
₹24.5 Lac           2
₹43.6 Lac           2
₹65.4 Lac           2
₹46.9 Lac           2
₹6 Lac              2
₹76.3 Lac           2
₹92.3 Lac           2
₹1.41 Cr            2
₹5.52 Cr            2
₹43.8 Lac           2
₹69.3 Lac           2
₹42.8 Lac           2
₹2.05 Cr            2
₹2.21 Cr            2
₹3.26 Cr            2
₹64.1 Lac           2
₹35.2 Lac           2
₹2.48 Cr            2
₹81.4 Lac           2
₹64.7 Lac           2
₹59.5 Lac           2
₹55.6 Lac           2
₹5.04 Cr            2
₹67.4 Lac           2
₹3.75 Cr            2
₹84.8 Lac           2
₹55.4 Lac           2
₹70.8 Lac           2
₹90.8 Lac           2
₹52.8 Lac           2
₹95.2 Lac           2
₹56.8 Lac           2
₹2.56 Cr            2
₹97 Lac             2
₹2.22 Cr            2
₹2.87 Cr            2
₹4.65 Cr            2
₹72.6 Lac           2
₹57.4 Lac           2
₹58.7 Lac           2
₹3.63 Cr            2
₹72.8 Lac           2
₹62.1 Lac           2
₹82.9 Lac           2
₹83.1 Lac           2
₹70.3 Lac           2
₹87.5 Lac           2
₹4.30 Cr            2
₹62.4 Lac           2
₹3.22 Cr            2
₹49.3 Lac           2
₹4.80 Cr            2
₹3.40 Cr            2
₹80.8 Lac           2
₹5.57 Cr            2
₹2.77 Cr            2
₹63.9 Lac           2
₹64.4 Lac           2
₹55.3 Lac           2
₹46.2 Lac           2
₹60.8 Lac           2
₹98.6 Lac           2
₹30.4 Lac           2
₹54.8 Lac           2
₹4.38 Cr            2
₹2.25 Cr            2
₹97.5 Lac           2
₹60.2 Lac           2
₹65.1 Lac           2
₹50.6 Lac           2
₹74.4 Lac           2
₹68.4 Lac           2
₹64.2 Lac           2
₹2.75 Cr            2
₹1.47 Cr            2
₹56.7 Lac           2
₹90.5 Lac           2
₹36.8 Lac           2
₹86.9 Lac           2
₹62.2 Lac           2
₹4.10 Cr            2
₹89.8 Lac           2
₹7.22 Cr            2
₹88.8 Lac           2
₹4.99 Cr            2
₹2.76 Cr            2
₹1.74 Cr            2
₹1.14 Cr            2
₹46.1 Lac           2
₹42.4 Lac           2
₹9 Lac              2
₹26.4 Lac           2
₹70.6 Lac           2
₹25.8 Lac           2
₹45.5 Lac           2
₹1.98 Cr            2
₹85.5 Lac           2
₹4.08 Cr            2
₹13.5 Lac           2
₹2.82 Cr            2
₹36.4 Lac           2
₹94.3 Lac           2
₹2.72 Cr            2
₹3.60 Cr            2
₹62.9 Lac           2
₹5.61 Cr            2
₹42.6 Lac           2
₹77.1 Lac           2
₹40.5 Lac           2
₹15.5 Lac           2
₹79.4 Lac           2
₹52.2 Lac           2
₹39.4 Lac           2
₹32.7 Lac           2
₹77.7 Lac           2
₹1.87 Cr            2
₹7.5 Lac            2
₹2.37 Cr            2
₹2.32 Cr            2
₹5.50 Cr            2
₹95.5 Lac           2
₹2.34 Cr            2
₹98.4 Lac           2
₹37.5 Lac           2
₹75.5 Lac           2
₹2.17 Cr            2
₹37.9 Lac           2
₹19.5 Lac           2
₹5 Cr               2
₹37.6 Lac           2
₹3.10 Cr            2
₹41.6 Lac           2
₹3.39 Cr            2
₹20.5 Lac           2
₹2.66 Cr            2
₹50.5 Lac           2
₹87.4 Lac           2
₹96.5 Lac           2
₹43.7 Lac           2
₹65.3 Lac           2
₹3.54 Cr            2
₹55.5 Lac           2
₹59.6 Lac           2
₹14 Cr              2
₹60.4 Lac           2
₹60.6 Lac           2
₹2.19 Cr            2
₹89 Lac             2
₹31.1 Lac           2
₹2.88 Cr            2
₹3.30 Cr            2
₹1.16 Cr            2
₹4.73 Cr            2
₹2.13 Cr            2
₹56.1 Lac           2
₹2.43 Cr            2
₹4.24 Cr            2
₹43.4 Lac           2
₹32.5 Lac           2
₹74.2 Lac           2
₹74.5 Lac           2
₹55.1 Lac           2
₹3.74 Cr            2
₹20.1 Lac           2
₹92.5 Lac           2
₹2.99 Cr            2
₹1.67 Cr            2
₹68.9 Lac           2
₹3.18 Cr            2
₹60.5 Lac           2
₹3.05 Cr            1
₹12.93 Cr           1
₹2.95 Cr            1
₹7 Cr               1
₹3.66 Cr            1
₹3.58 Cr            1
₹3.31 Cr            1
₹2.73 Cr            1
₹35.8 Lac           1
₹3.19 Cr            1
₹5.60 Cr            1
₹3.04 Cr            1
₹45.4 Lac           1
₹2.41 Cr            1
₹5.12 Cr            1
₹3.49 Cr            1
₹4.40 Cr            1
₹2.38 Cr            1
₹4.41 Cr            1
₹5.20 Cr            1
₹5.40 Cr            1
₹4.75 Cr            1
₹6.47 Cr            1
₹7.60 Cr            1
₹7.19 Cr            1
₹3.34 Cr            1
₹4.06 Cr            1
₹5.66 Cr            1
₹8.13 Cr            1
₹2.68 Cr            1
₹5.45 Cr            1
₹3.32 Cr            1
₹1.83 Cr            1
₹10.09 Cr           1
₹3.45 Cr            1
₹5.43 Cr            1
₹2.78 Cr            1
₹2.81 Cr            1
₹4.16 Cr            1
₹5.48 Cr            1
₹3.36 Cr            1
₹3.90 Cr            1
₹3.13 Cr            1
₹6.37 Cr            1
₹2.46 Cr            1
₹3.48 Cr            1
₹3.76 Cr            1
₹1.78 Cr            1
₹3.85 Cr            1
₹4.07 Cr            1
₹6.10 Cr            1
₹3.79 Cr            1
₹4.71 Cr            1
₹5.51 Cr            1
₹5.36 Cr            1
₹4.05 Cr            1
₹4.94 Cr            1
₹4.01 Cr            1
₹4.84 Cr            1
₹1.81 Cr            1
₹7.20 Cr            1
₹5.25 Cr            1
₹2.96 Cr            1
₹2.62 Cr            1
₹3.02 Cr            1
₹39.2 Lac           1
₹4.39 Cr            1
₹4.53 Cr            1
₹2.54 Cr            1
₹3.92 Cr            1
₹4.68 Cr            1
₹33.8 Lac           1
₹3.27 Cr            1
₹2.69 Cr            1
₹4.42 Cr            1
₹4.31 Cr            1
₹1.91 Cr            1
₹3.08 Cr            1
₹4.03 Cr            1
₹2.57 Cr            1
₹3.25 Cr            1
₹8.60 Cr            1
₹2.97 Cr            1
₹3.59 Cr            1
₹2.71 Cr            1
₹5.55 Cr            1
₹3.93 Cr            1
₹2.33 Cr            1
₹2.84 Cr            1
₹3.99 Cr            1
₹4.23 Cr            1
₹2.79 Cr            1
₹4.14 Cr            1
₹6.76 Cr            1
₹2.55 Cr            1
₹3.21 Cr            1
₹3.95 Cr            1
₹1.96 Cr            1
₹4.32 Cr            1
₹3.97 Cr            1
₹2.08 Cr            1
₹44.3 Lac           1
₹93 Lac             1
₹29.1 Lac           1
₹56.2 Lac           1
₹18.1 Lac           1
₹44.6 Lac           1
₹37.1 Lac           1
₹53.1 Lac           1
₹45.1 Lac           1
₹30.3 Lac           1
₹47.1 Lac           1
₹19.9 Lac           1
₹41.5 Lac           1
₹41.1 Lac           1
₹54.2 Lac           1
₹40.7 Lac           1
₹47.8 Lac           1
₹43.2 Lac           1
₹44.9 Lac           1
₹34.5 Lac           1
₹35.1 Lac           1
₹33.4 Lac           1
₹59.1 Lac           1
₹58.9 Lac           1
₹22.7 Lac           1
₹56.5 Lac           1
₹33.1 Lac           1
₹45.7 Lac           1
₹43.5 Lac           1
₹45.3 Lac           1
₹30.6 Lac           1
₹8.9 Lac            1
₹14.2 Lac           1
₹70.4 Lac           1
₹5 Lac              1
₹80.3 Lac           1
₹23.2 Lac           1
₹45.2 Lac           1
₹14.4 Lac           1
₹8 Lac              1
₹65.2 Lac           1
₹59.9 Lac           1
₹29.9 Lac           1
₹34.8 Lac           1
₹24.9 Lac           1
₹38.2 Lac           1
₹34.2 Lac           1
₹24.3 Lac           1
₹28.6 Lac           1
₹42.9 Lac           1
₹32.3 Lac           1
₹30.7 Lac           1
₹51.3 Lac           1
₹31.6 Lac           1
₹56.6 Lac           1
₹18.7 Lac           1
₹4.20 Cr            1
₹49.1 Lac           1
₹52.4 Lac           1
₹43.1 Lac           1
₹35.3 Lac           1
₹58.1 Lac           1
₹57.2 Lac           1
₹51.9 Lac           1
₹37.2 Lac           1
₹51.2 Lac           1
₹59.2 Lac           1
₹42.7 Lac           1
₹51.6 Lac           1
₹59.8 Lac           1
₹21.6 Lac           1
₹17.4 Lac           1
₹52.6 Lac           1
₹52.1 Lac           1
₹11.1 Lac           1
₹21.5 Lac           1
₹38.5 Lac           1
₹19.8 Lac           1
₹49.5 Lac           1
₹57.1 Lac           1
₹58.4 Lac           1
₹48.6 Lac           1
₹42.3 Lac           1
₹25.9 Lac           1
₹51.8 Lac           1
₹48.7 Lac           1
₹33.9 Lac           1
₹15.8 Lac           1
₹59.4 Lac           1
₹32.8 Lac           1
₹21.9 Lac           1
₹49.7 Lac           1
₹30.8 Lac           1
₹41.7 Lac           1
₹25.7 Lac           1
₹16.4 Lac           1
₹30.9 Lac           1
₹42.2 Lac           1
₹36.1 Lac           1
₹34.3 Lac           1
₹51.1 Lac           1
₹30.2 Lac           1
₹44.4 Lac           1
₹46.7 Lac           1
₹46.3 Lac           1
₹29.2 Lac           1
₹25.5 Lac           1
₹55.9 Lac           1
₹7 Lac              1
₹95.1 Lac           1
₹18.4 Lac           1
₹73.4 Lac           1
₹65.8 Lac           1
₹76.9 Lac           1
₹71.8 Lac           1
₹82.1 Lac           1
₹72.4 Lac           1
₹97.7 Lac           1
₹79.8 Lac           1
₹63.5 Lac           1
₹83.8 Lac           1
₹78.5 Lac           1
₹77.5 Lac           1
₹78.9 Lac           1
₹63.3 Lac           1
₹60.3 Lac           1
₹73.1 Lac           1
₹72.2 Lac           1
₹63.7 Lac           1
₹82.8 Lac           1
₹69.6 Lac           1
₹71.1 Lac           1
₹75.9 Lac           1
₹94.5 Lac           1
₹71.9 Lac           1
₹99.9 Lac           1
₹61.3 Lac           1
₹9.3 Lac            1
₹88.5 Lac           1
₹81.2 Lac           1
₹73.5 Lac           1
₹62.8 Lac           1
₹95.6 Lac           1
₹77.3 Lac           1
₹69.7 Lac           1
₹65.7 Lac           1
₹80.2 Lac           1
₹66.1 Lac           1
₹74.9 Lac           1
₹92.8 Lac           1
₹85.9 Lac           1
₹75.3 Lac           1
₹64.3 Lac           1
₹70.2 Lac           1
₹66.5 Lac           1
₹65.9 Lac           1
₹74.1 Lac           1
₹99.3 Lac           1
₹69.2 Lac           1
₹78.1 Lac           1
₹83.7 Lac           1
₹62.6 Lac           1
₹81.6 Lac           1
₹97.6 Lac           1
₹90.6 Lac           1
₹79.3 Lac           1
₹65.6 Lac           1
₹67.9 Lac           1
₹12.8 Lac           1
₹61.7 Lac           1
₹79.1 Lac           1
₹16.3 Lac           1
₹62.3 Lac           1
₹93.5 Lac           1
₹63.2 Lac           1
₹39.8 Lac           1
₹84.5 Lac           1
₹25.2 Lac           1
₹75.7 Lac           1
₹68.3 Lac           1
₹97.4 Lac           1
₹39.9 Lac           1
₹99.5 Lac           1
₹85.4 Lac           1
₹34.9 Lac           1
₹25.1 Lac           1
₹38.1 Lac           1
₹66.3 Lac           1
₹49.9 Lac           1
₹86.3 Lac           1
₹86.1 Lac           1
₹40.4 Lac           1
₹60.9 Lac           1
₹93.6 Lac           1
₹83.5 Lac           1
₹39.7 Lac           1
₹88.6 Lac           1
₹76.5 Lac           1
₹90.7 Lac           1
₹98.1 Lac           1
₹68.2 Lac           1
₹98.3 Lac           1
₹70.7 Lac           1
₹84.7 Lac           1
₹69.5 Lac           1
₹89.4 Lac           1
₹84.9 Lac           1
₹76.8 Lac           1
₹90.4 Lac           1
₹50.3 Lac           1
₹61.5 Lac           1
₹67.3 Lac           1
₹79.7 Lac           1
₹93.8 Lac           1
₹88.1 Lac           1
₹4.67 Cr            1
Name: count, dtype: int64

In [16]:
# df.query("price == 'Call for Price'")

In [17]:
# x = df.query("price == 'Call for Price'")
# df.loc[x.index,x.columns[-1]] = 0

In [18]:
# df.query("price == 'Call for Price'")

In [19]:
df[df['price'].str.contains('₹')].shape

(3096, 11)

In [20]:
df.shape

(3307, 11)

In [21]:
df['price'] = df['price'].str[1:]

def prices(x):
    if x[0] == 'all':
        return np.nan
    
    if type(x) == float:
        return x
    else:
        if x[1] == 'Lac':
            return round(float(x[0])/100,2) 
        elif x[1] == 'Cr':
            return round(float(x[0]),2)

df['price'] = df['price'].str.split(' ').apply(prices)
# values of prices in crores

In [22]:
df['price'].isnull().sum()

211

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3307 entries, 0 to 3380
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   3307 non-null   object
 1   areaWithType    3306 non-null   object
 2   square_feet     3306 non-null   object
 3   transaction     3259 non-null   object
 4   status          3296 non-null   object
 5   floor           3277 non-null   object
 6   furnishing      3249 non-null   object
 7   facing          3219 non-null   object
 8   description     2408 non-null   object
 9   price_per_sqft  2991 non-null   object
 10  price           3096 non-null   float64
dtypes: float64(1), object(10)
memory usage: 310.0+ KB

# price per square feet

In [24]:
df['price_per_sqft']

0        ₹4,251 per sqft
1        ₹3,751 per sqft
2        ₹3,784 per sqft
3        ₹2,891 per sqft
4        ₹3,838 per sqft
5        ₹4,291 per sqft
6        ₹4,251 per sqft
7        ₹3,861 per sqft
8        ₹3,450 per sqft
9        ₹3,991 per sqft
10       ₹2,863 per sqft
11       ₹3,125 per sqft
12       ₹3,304 per sqft
13       ₹4,333 per sqft
14       ₹3,843 per sqft
15       ₹2,368 per sqft
16       ₹2,597 per sqft
17       ₹3,714 per sqft
18       ₹3,750 per sqft
19       ₹2,736 per sqft
20                    NaN
21       ₹3,735 per sqft
22       ₹2,829 per sqft
23       ₹4,462 per sqft
24       ₹4,300 per sqft
25       ₹3,325 per sqft
26       ₹3,682 per sqft
27       ₹3,514 per sqft
28       ₹3,290 per sqft
29       ₹3,846 per sqft
30       ₹3,551 per sqft
31       ₹3,629 per sqft
32       ₹4,251 per sqft
33       ₹3,333 per sqft
34       ₹4,257 per sqft
35       ₹3,333 per sqft
36       ₹4,160 per sqft
37                    NaN
38       ₹3,667 per sqft
39       ₹3,960 per sqft
40       ₹2,868 per sqft
41       ₹4,774 per sqft
42       ₹3,932 per sqft
43       ₹3,771 per sqft
44       ₹3,512 per sqft
45       ₹3,350 per sqft
46       ₹2,600 per sqft
47       ₹3,129 per sqft
48       ₹4,251 per sqft
49                    NaN
50       ₹5,238 per sqft
51       ₹3,734 per sqft
52       ₹3,600 per sqft
53       ₹4,556 per sqft
54       ₹4,250 per sqft
55       ₹4,627 per sqft
56       ₹3,988 per sqft
57       ₹3,837 per sqft
58                    NaN
59       ₹3,851 per sqft
60       ₹4,250 per sqft
61       ₹2,850 per sqft
62       ₹3,613 per sqft
63       ₹3,624 per sqft
64       ₹3,165 per sqft
65       ₹3,784 per sqft
66       ₹3,093 per sqft
67       ₹4,688 per sqft
68       ₹2,800 per sqft
69       ₹3,030 per sqft
70       ₹2,422 per sqft
71       ₹4,204 per sqft
72       ₹3,759 per sqft
73       ₹4,385 per sqft
74       ₹4,364 per sqft
75       ₹3,162 per sqft
76       ₹2,722 per sqft
77       ₹3,636 per sqft
78       ₹5,903 per sqft
79       ₹3,273 per sqft
80       ₹2,317 per sqft
81       ₹3,125 per sqft
82       ₹3,212 per sqft
83       ₹3,478 per sqft
84       ₹2,917 per sqft
85       ₹3,946 per sqft
86       ₹1,875 per sqft
87       ₹3,509 per sqft
88       ₹4,296 per sqft
89       ₹2,881 per sqft
90       ₹3,500 per sqft
91       ₹2,941 per sqft
92       ₹2,332 per sqft
93       ₹4,000 per sqft
94       ₹3,650 per sqft
95                    NaN
96       ₹3,629 per sqft
97       ₹3,477 per sqft
98       ₹4,351 per sqft
99                    NaN
100      ₹3,500 per sqft
101      ₹2,783 per sqft
102      ₹3,213 per sqft
103      ₹3,077 per sqft
104      ₹3,437 per sqft
105      ₹4,251 per sqft
106      ₹4,076 per sqft
107      ₹2,318 per sqft
108      ₹2,789 per sqft
109                   NaN
110                   NaN
111      ₹3,733 per sqft
112      ₹3,455 per sqft
113      ₹4,325 per sqft
114                   NaN
115      ₹3,043 per sqft
116                   NaN
117      ₹3,333 per sqft
118      ₹4,681 per sqft
119      ₹2,686 per sqft
120      ₹4,167 per sqft
121      ₹3,462 per sqft
122      ₹4,683 per sqft
123      ₹3,984 per sqft
124      ₹3,527 per sqft
125      ₹1,984 per sqft
126        ₹800 per sqft
127      ₹3,260 per sqft
128      ₹2,512 per sqft
129      ₹2,435 per sqft
130      ₹4,111 per sqft
131      ₹3,750 per sqft
132      ₹3,165 per sqft
133                   NaN
134      ₹2,436 per sqft
135      ₹2,667 per sqft
136      ₹2,129 per sqft
137      ₹2,936 per sqft
138      ₹2,857 per sqft
139      ₹3,182 per sqft
140      ₹3,994 per sqft
141      ₹3,248 per sqft
142      ₹2,817 per sqft
143      ₹2,154 per sqft
144                   NaN
145      ₹2,814 per sqft
146      ₹3,333 per sqft
147      ₹3,548 per sqft
148      ₹3,117 per sqft
149      ₹2,704 per sqft
150      ₹3,887 per sqft
151      ₹4,500 per sqft
152      ₹3,517 per sqft
153      ₹4,167 per sqft
154      ₹2,449 per sqft
155      ₹2,256 per sqft
156      ₹3,922 per sqft
157      ₹4,500 per sqft
158                   NaN
159      ₹2,712 per sqft
160      ₹4,783 per sqft
161                   NaN
162      ₹4,167 per sqft
163      ₹3,191 per sqft
164      ₹4,423 per sqft
165      ₹2,619 per sqft
166      ₹3,455 per sqft
167      ₹1,858 per sqft
168      ₹3,091 per sqft
169      ₹4,000 per sqft
170      ₹2,537 per sqft
171                   NaN
172      ₹4,240 per sqft
173      ₹2,632 per sqft
174                   NaN
175      ₹2,218 per sqft
176                   NaN
177      ₹3,611 per sqft
178      ₹3,567 per sqft
179      ₹3,437 per sqft
180                   NaN
181      ₹5,355 per sqft
182      ₹3,093 per sqft
183      ₹2,857 per sqft
184      ₹2,347 per sqft
185      ₹3,750 per sqft
186      ₹3,051 per sqft
187      ₹2,933 per sqft
188      ₹3,200 per sqft
189      ₹2,947 per sqft
190      ₹4,018 per sqft
191      ₹3,429 per sqft
192      ₹3,086 per sqft
193      ₹1,444 per sqft
194      ₹2,588 per sqft
195      ₹1,000 per sqft
196                   NaN
197      ₹4,006 per sqft
198      ₹4,331 per sqft
199      ₹4,138 per sqft
200      ₹5,000 per sqft
201      ₹1,998 per sqft
202      ₹2,909 per sqft
203      ₹1,220 per sqft
204      ₹2,749 per sqft
205      ₹3,889 per sqft
206                   NaN
207      ₹3,102 per sqft
208      ₹3,200 per sqft
209      ₹3,545 per sqft
210      ₹3,420 per sqft
211                   NaN
212      ₹3,918 per sqft
213      ₹3,200 per sqft
214      ₹2,500 per sqft
215                   NaN
216      ₹2,787 per sqft
217      ₹4,091 per sqft
218                   NaN
219      ₹4,124 per sqft
220      ₹4,116 per sqft
221      ₹3,917 per sqft
222      ₹1,735 per sqft
223      ₹5,455 per sqft
224      ₹2,853 per sqft
225      ₹3,274 per sqft
226      ₹1,776 per sqft
227      ₹2,800 per sqft
228      ₹5,207 per sqft
229                   NaN
230      ₹2,671 per sqft
231      ₹2,344 per sqft
232      ₹4,500 per sqft
233      ₹2,977 per sqft
234      ₹3,500 per sqft
235      ₹2,802 per sqft
236      ₹2,956 per sqft
237      ₹2,373 per sqft
238      ₹2,473 per sqft
239      ₹2,069 per sqft
240      ₹3,385 per sqft
241      ₹3,509 per sqft
242      ₹3,400 per sqft
243                   NaN
244      ₹2,556 per sqft
245                   NaN
246      ₹3,800 per sqft
247      ₹4,000 per sqft
248      ₹3,175 per sqft
249      ₹2,917 per sqft
250      ₹2,344 per sqft
251      ₹3,158 per sqft
252      ₹3,418 per sqft
253      ₹4,549 per sqft
254      ₹3,231 per sqft
255      ₹4,000 per sqft
256      ₹3,571 per sqft
257      ₹5,000 per sqft
258      ₹2,750 per sqft
259      ₹3,265 per sqft
260      ₹3,911 per sqft
261      ₹3,684 per sqft
262     ₹76,389 per sqft
263      ₹3,509 per sqft
264                   NaN
265      ₹2,400 per sqft
266                   NaN
267      ₹2,500 per sqft
268      ₹3,169 per sqft
269      ₹3,111 per sqft
270                   NaN
271      ₹2,719 per sqft
272      ₹1,250 per sqft
273      ₹3,333 per sqft
274      ₹5,000 per sqft
275      ₹3,959 per sqft
276      ₹3,364 per sqft
277      ₹2,733 per sqft
278      ₹3,800 per sqft
279      ₹3,571 per sqft
280      ₹2,979 per sqft
281      ₹3,195 per sqft
282      ₹3,360 per sqft
283      ₹2,750 per sqft
284      ₹2,347 per sqft
285                   NaN
286      ₹3,106 per sqft
287      ₹2,333 per sqft
288                   NaN
289      ₹4,437 per sqft
290     ₹16,667 per sqft
291      ₹3,384 per sqft
292      ₹4,621 per sqft
293      ₹3,281 per sqft
294      ₹2,769 per sqft
295      ₹4,800 per sqft
296      ₹3,571 per sqft
297      ₹2,667 per sqft
298      ₹3,314 per sqft
299      ₹1,800 per sqft
300      ₹2,769 per sqft
301      ₹2,480 per sqft
302      ₹4,569 per sqft
303      ₹3,535 per sqft
304      ₹3,896 per sqft
305      ₹3,492 per sqft
306      ₹1,615 per sqft
307      ₹3,833 per sqft
308                   NaN
309      ₹4,396 per sqft
310      ₹1,682 per sqft
311      ₹2,308 per sqft
312      ₹4,228 per sqft
313      ₹2,547 per sqft
314      ₹1,923 per sqft
315      ₹3,022 per sqft
316      ₹3,333 per sqft
317      ₹2,404 per sqft
318      ₹3,736 per sqft
319      ₹4,125 per sqft
320      ₹2,428 per sqft
321      ₹2,791 per sqft
322      ₹2,300 per sqft
323                   NaN
324      ₹1,923 per sqft
325      ₹2,683 per sqft
326      ₹2,637 per sqft
327      ₹2,124 per sqft
328      ₹3,333 per sqft
329      ₹2,143 per sqft
330      ₹3,285 per sqft
331      ₹3,838 per sqft
332      ₹4,104 per sqft
333      ₹3,333 per sqft
334                   NaN
335      ₹2,624 per sqft
336      ₹2,714 per sqft
337      ₹4,222 per sqft
338      ₹4,800 per sqft
339      ₹3,571 per sqft
340      ₹3,889 per sqft
341      ₹1,061 per sqft
342      ₹2,381 per sqft
343      ₹5,455 per sqft
344     ₹10,101 per sqft
345      ₹2,288 per sqft
346                   NaN
347      ₹3,250 per sqft
348      ₹2,333 per sqft
349      ₹3,333 per sqft
350                   NaN
351      ₹3,846 per sqft
352      ₹3,214 per sqft
353      ₹3,087 per sqft
354      ₹3,234 per sqft
355      ₹7,564 per sqft
356      ₹2,375 per sqft
357      ₹4,400 per sqft
358      ₹4,857 per sqft
359      ₹4,701 per sqft
360      ₹3,538 per sqft
361      ₹3,636 per sqft
362      ₹2,922 per sqft
363      ₹2,714 per sqft
364      ₹4,297 per sqft
365      ₹3,480 per sqft
366      ₹2,947 per sqft
367      ₹3,182 per sqft
368      ₹3,529 per sqft
369      ₹3,226 per sqft
370      ₹3,981 per sqft
371      ₹4,000 per sqft
372      ₹4,005 per sqft
373      ₹3,846 per sqft
374      ₹5,000 per sqft
375      ₹3,368 per sqft
376      ₹4,049 per sqft
377      ₹3,478 per sqft
378      ₹2,571 per sqft
379      ₹3,404 per sqft
380      ₹3,375 per sqft
381      ₹4,667 per sqft
382      ₹4,569 per sqft
383      ₹3,158 per sqft
384      ₹3,815 per sqft
385      ₹2,778 per sqft
386      ₹4,167 per sqft
387      ₹1,810 per sqft
388      ₹2,922 per sqft
389      ₹2,250 per sqft
390      ₹3,013 per sqft
391      ₹3,205 per sqft
392      ₹4,615 per sqft
393     ₹33,333 per sqft
394      ₹2,731 per sqft
395      ₹2,978 per sqft
396      ₹2,486 per sqft
397      ₹3,571 per sqft
398      ₹2,783 per sqft
399      ₹3,375 per sqft
400      ₹2,571 per sqft
401      ₹3,364 per sqft
402      ₹2,522 per sqft
403      ₹2,522 per sqft
404      ₹3,116 per sqft
405                   NaN
406      ₹3,609 per sqft
407      ₹3,832 per sqft
408      ₹2,353 per sqft
409      ₹2,800 per sqft
410      ₹3,522 per sqft
411      ₹3,235 per sqft
412      ₹3,675 per sqft
413                   NaN
414      ₹3,728 per sqft
415      ₹3,750 per sqft
416      ₹2,500 per sqft
417      ₹4,044 per sqft
418      ₹2,381 per sqft
419                   NaN
420      ₹1,688 per sqft
421      ₹2,559 per sqft
422      ₹4,755 per sqft
423      ₹2,872 per sqft
424      ₹2,607 per sqft
425      ₹4,400 per sqft
426      ₹3,500 per sqft
427      ₹3,000 per sqft
428      ₹3,918 per sqft
429      ₹3,500 per sqft
430      ₹4,091 per sqft
431      ₹4,000 per sqft
432      ₹2,812 per sqft
433      ₹3,385 per sqft
434      ₹3,922 per sqft
435      ₹2,797 per sqft
436      ₹2,500 per sqft
437      ₹2,000 per sqft
438                   NaN
439      ₹2,444 per sqft
440      ₹5,172 per sqft
441      ₹3,833 per sqft
442      ₹2,222 per sqft
443      ₹2,787 per sqft
444                   NaN
445      ₹2,174 per sqft
446      ₹4,171 per sqft
447                   NaN
448      ₹2,636 per sqft
449      ₹3,796 per sqft
450      ₹4,130 per sqft
451      ₹3,289 per sqft
452                   NaN
453      ₹3,440 per sqft
454      ₹2,500 per sqft
455      ₹2,667 per sqft
456      ₹3,400 per sqft
457                   NaN
458      ₹2,759 per sqft
459      ₹1,818 per sqft
460      ₹2,761 per sqft
461      ₹3,333 per sqft
462      ₹3,500 per sqft
463      ₹3,500 per sqft
464      ₹2,946 per sqft
465      ₹2,783 per sqft
466      ₹2,689 per sqft
467      ₹2,994 per sqft
468      ₹3,652 per sqft
469      ₹6,726 per sqft
470      ₹2,769 per sqft
471      ₹3,750 per sqft
472      ₹4,630 per sqft
473      ₹4,577 per sqft
474      ₹2,251 per sqft
475      ₹2,862 per sqft
476      ₹3,600 per sqft
477                   NaN
478      ₹3,361 per sqft
479                   NaN
480      ₹2,364 per sqft
481      ₹3,415 per sqft
482      ₹3,600 per sqft
483      ₹3,462 per sqft
484      ₹4,861 per sqft
485      ₹3,030 per sqft
486      ₹2,000 per sqft
487                   NaN
488      ₹3,250 per sqft
489      ₹3,252 per sqft
490      ₹2,545 per sqft
491      ₹3,077 per sqft
492                   NaN
493      ₹2,980 per sqft
494      ₹5,398 per sqft
495      ₹2,609 per sqft
496      ₹3,739 per sqft
497      ₹2,618 per sqft
498                   NaN
499      ₹2,000 per sqft
500      ₹2,909 per sqft
501      ₹2,500 per sqft
502      ₹3,304 per sqft
503                   NaN
504      ₹4,641 per sqft
505      ₹2,583 per sqft
506      ₹2,642 per sqft
507      ₹3,760 per sqft
508      ₹3,333 per sqft
509      ₹3,333 per sqft
510                   NaN
511      ₹2,747 per sqft
512      ₹3,759 per sqft
513      ₹3,333 per sqft
514      ₹5,385 per sqft
515      ₹3,752 per sqft
516      ₹4,615 per sqft
517      ₹3,200 per sqft
518                   NaN
519      ₹3,562 per sqft
520      ₹3,500 per sqft
521      ₹3,500 per sqft
522                   NaN
523      ₹2,329 per sqft
524      ₹3,814 per sqft
525      ₹2,944 per sqft
526      ₹3,641 per sqft
527      ₹2,348 per sqft
528      ₹4,549 per sqft
529      ₹1,979 per sqft
530      ₹2,857 per sqft
531      ₹3,512 per sqft
532      ₹4,867 per sqft
533      ₹1,661 per sqft
534      ₹4,156 per sqft
535      ₹2,667 per sqft
536      ₹4,324 per sqft
537                   NaN
538      ₹3,913 per sqft
539      ₹2,667 per sqft
540      ₹3,178 per sqft
541                   NaN
542      ₹4,237 per sqft
543      ₹2,647 per sqft
544      ₹4,294 per sqft
545      ₹3,750 per sqft
546      ₹2,750 per sqft
547      ₹3,529 per sqft
548      ₹1,818 per sqft
549      ₹3,556 per sqft
550      ₹2,917 per sqft
551      ₹2,035 per sqft
552      ₹2,492 per sqft
553      ₹3,247 per sqft
554      ₹3,663 per sqft
555      ₹3,525 per sqft
556      ₹4,400 per sqft
557      ₹3,810 per sqft
558      ₹3,333 per sqft
559      ₹4,857 per sqft
560      ₹3,000 per sqft
561      ₹3,500 per sqft
562      ₹1,462 per sqft
563      ₹3,545 per sqft
564      ₹3,571 per sqft
565      ₹4,365 per sqft
566      ₹2,424 per sqft
567                   NaN
568      ₹3,571 per sqft
569      ₹3,492 per sqft
570      ₹2,514 per sqft
571      ₹3,500 per sqft
572      ₹3,250 per sqft
573      ₹3,896 per sqft
574      ₹3,500 per sqft
575      ₹2,961 per sqft
576      ₹2,964 per sqft
577      ₹3,364 per sqft
578      ₹3,304 per sqft
579      ₹3,509 per sqft
580      ₹3,090 per sqft
581      ₹2,817 per sqft
582      ₹3,747 per sqft
583      ₹3,309 per sqft
584      ₹4,222 per sqft
585      ₹2,839 per sqft
586      ₹2,000 per sqft
587      ₹2,714 per sqft
588      ₹1,562 per sqft
589      ₹3,091 per sqft
590      ₹3,288 per sqft
591      ₹2,667 per sqft
592      ₹3,077 per sqft
593      ₹3,487 per sqft
594      ₹4,740 per sqft
595      ₹3,750 per sqft
596      ₹4,364 per sqft
597      ₹3,608 per sqft
598      ₹2,336 per sqft
599      ₹6,316 per sqft
600      ₹3,714 per sqft
601      ₹3,444 per sqft
602      ₹7,500 per sqft
603      ₹3,158 per sqft
604                   NaN
605      ₹3,333 per sqft
606      ₹2,253 per sqft
607      ₹4,000 per sqft
608      ₹3,937 per sqft
609      ₹4,393 per sqft
610      ₹3,968 per sqft
611      ₹1,627 per sqft
612      ₹4,640 per sqft
613      ₹2,667 per sqft
614      ₹1,831 per sqft
615      ₹2,500 per sqft
616      ₹4,259 per sqft
617      ₹3,000 per sqft
618      ₹2,500 per sqft
619      ₹1,532 per sqft
620      ₹2,720 per sqft
621      ₹3,137 per sqft
622      ₹1,918 per sqft
623      ₹4,800 per sqft
624      ₹3,582 per sqft
625      ₹6,500 per sqft
626      ₹2,632 per sqft
627      ₹2,917 per sqft
628      ₹3,719 per sqft
629      ₹2,571 per sqft
630      ₹3,151 per sqft
631     ₹25,000 per sqft
632      ₹3,100 per sqft
633      ₹3,501 per sqft
634      ₹1,071 per sqft
635      ₹1,455 per sqft
636      ₹2,604 per sqft
637      ₹3,501 per sqft
638      ₹4,234 per sqft
639      ₹2,857 per sqft
640      ₹4,167 per sqft
641      ₹2,527 per sqft
642      ₹4,348 per sqft
643      ₹3,593 per sqft
644      ₹2,554 per sqft
645      ₹2,667 per sqft
646      ₹2,180 per sqft
647      ₹4,380 per sqft
648      ₹2,909 per sqft
649      ₹3,462 per sqft
650      ₹3,203 per sqft
651      ₹1,161 per sqft
652                   NaN
653      ₹3,280 per sqft
654      ₹2,616 per sqft
655      ₹3,636 per sqft
656      ₹2,917 per sqft
657      ₹2,791 per sqft
658      ₹4,287 per sqft
659      ₹3,259 per sqft
660      ₹2,564 per sqft
661      ₹4,262 per sqft
662      ₹4,007 per sqft
663      ₹2,871 per sqft
664      ₹2,346 per sqft
665      ₹2,973 per sqft
666                   NaN
667      ₹4,262 per sqft
668      ₹2,500 per sqft
669      ₹3,200 per sqft
670      ₹3,695 per sqft
671      ₹2,834 per sqft
672      ₹3,000 per sqft
673      ₹1,312 per sqft
674                   NaN
675      ₹2,566 per sqft
676      ₹2,708 per sqft
677      ₹3,909 per sqft
678     ₹28,242 per sqft
679                   NaN
680                   NaN
681      ₹4,091 per sqft
682      ₹3,600 per sqft
683      ₹3,667 per sqft
684      ₹3,674 per sqft
685      ₹2,667 per sqft
686      ₹3,818 per sqft
687      ₹4,027 per sqft
688      ₹2,533 per sqft
689      ₹4,615 per sqft
690      ₹2,000 per sqft
691      ₹2,667 per sqft
692      ₹3,000 per sqft
693      ₹2,486 per sqft
694      ₹4,146 per sqft
695      ₹3,800 per sqft
696      ₹2,857 per sqft
697      ₹4,615 per sqft
698      ₹2,485 per sqft
699      ₹3,143 per sqft
700      ₹5,217 per sqft
701                   NaN
702                   NaN
703      ₹3,000 per sqft
704      ₹2,955 per sqft
705      ₹2,796 per sqft
706      ₹2,217 per sqft
707      ₹3,182 per sqft
708                   NaN
709                   NaN
710                   NaN
711                   NaN
712                   NaN
713                   NaN
714                   NaN
715                   NaN
716                   NaN
717                   NaN
718                   NaN
719                   NaN
720                   NaN
721                   NaN
722                   NaN
723                   NaN
724                   NaN
725                   NaN
726                   NaN
727                   NaN
728                   NaN
729                   NaN
730                   NaN
731                   NaN
732                   NaN
733                   NaN
734                   NaN
735                   NaN
736                   NaN
737                   NaN
738                   NaN
739                   NaN
740                   NaN
741                   NaN
742                   NaN
743                   NaN
744                   NaN
745                   NaN
746                   NaN
747                   NaN
748                   NaN
749                   NaN
750                   NaN
751                   NaN
752                   NaN
753                   NaN
754                   NaN
755                   NaN
756                   NaN
757                   NaN
758                   NaN
759                   NaN
760                   NaN
761                   NaN
762                   NaN
763                   NaN
764                   NaN
765                   NaN
766                   NaN
767                   NaN
768                   NaN
769                   NaN
770                   NaN
771                   NaN
772                   NaN
773                   NaN
774                   NaN
775                   NaN
776                   NaN
777                   NaN
778                   NaN
779                   NaN
780                   NaN
781                   NaN
782                   NaN
783                   NaN
784                   NaN
785                   NaN
786                   NaN
787                   NaN
788                   NaN
789                   NaN
790                   NaN
791                   NaN
792                   NaN
793                   NaN

In [25]:
# df[df['price_per_sqft'] == np.NaN].shape

# x = df[~df['price_per_sqft'].isnull()]

In [26]:
# x[x['price_per_sqft'].str.contains('₹')].shape
# x['price_per_sqft'] = x['price_per_sqft'].str[1:]
# x['price_per_sqft'] = x['price_per_sqft'].str.split(' ').str.get(0)
# x['price_per_sqft'] = x['price_per_sqft'].str.replace(',', '')
# x['price_per_sqft'] = x['price_per_sqft'].astype('float')

In [27]:
df['price_per_sqft'] = df['price_per_sqft'].str[1:]
df['price_per_sqft'] = df['price_per_sqft'].str.split(' ').str.get(0)
df['price_per_sqft'] = df['price_per_sqft'].str.replace(',', '')
df['price_per_sqft'] = df['price_per_sqft'].astype('float')
df['price_per_sqft'].shape

(3307,)

In [28]:
# x['price_per_sqft'].str.replace(',','')

In [29]:
df.head(2)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
0,"2 BHK Apartment for Sale in Pramukh Amaya, Pal...",Super Area,1311 sqft,Unfurnished,Poss. by Dec '24,New Property,Pramukh Amaya,2,"Multistorey Apartment for Sale in Palanpur, Su...",4251.0,0.56
1,"3 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1586 sqft,Orchid Gardenia,New Property,Unfurnished,3,3,"Multistorey Apartment for Sale in Palanpur, Su...",3751.0,0.59

In [30]:
df.sample(2)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
954,"2 BHK Apartment for Sale in Santvan Skyon, Pal...",Super Area,1173 sqft,New Property,Ready to Move,5 out of 13,Furnished,East,2 BHK Fully Furnished Flat For Sale In Palanpu...,4689.0,0.55
1049,2 BHK Apartment for Sale in Pal Surat,Carpet Area,665 sqft,New Property,Poss. by Jul '24,4 out of 13,Unfurnished,East,Lowest rate in pal tp 15first project in pal s...,4200.0,0.51

In [31]:
df.isnull().sum()

property_name       0
areaWithType        1
square_feet         1
transaction        48
status             11
floor              30
furnishing         58
facing             88
description       899
price_per_sqft    316
price             211
dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3307 entries, 0 to 3380
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_name   3307 non-null   object
 1   areaWithType    3306 non-null   object
 2   square_feet     3306 non-null   object
 3   transaction     3259 non-null   object
 4   status          3296 non-null   object
 5   floor           3277 non-null   object
 6   furnishing      3249 non-null   object
 7   facing          3219 non-null   object
 8   description     2408 non-null   object
 9   price_per_sqft  2991 non-null   float64
 10  price           3096 non-null   float64
dtypes: float64(2), object(9)
memory usage: 310.0+ KB

# Area with Type

In [33]:
df['areaWithType'].value_counts()

areaWithType
Super Area     2001
Carpet Area    1283
Transaction      18
Status            2
Floor             2
Name: count, dtype: int64

In [34]:
df[(df['areaWithType'] == 'Status') | (df['areaWithType'] == 'Transaction') | (df['areaWithType'] == 'Floor')] = 'NA'

C:\Users\HP\AppData\Local\Temp\ipykernel_9348\3494088776.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[(df['areaWithType'] == 'Status') | (df['areaWithType'] == 'Transaction') | (df['areaWithType'] == 'Floor')] = 'NA'

In [35]:
df['areaWithType'].value_counts()

areaWithType
Super Area     2001
Carpet Area    1283
NA               22
Name: count, dtype: int64

In [36]:
df.shape

(3307, 11)

In [37]:
df.isnull().sum()

property_name       0
areaWithType        1
square_feet         1
transaction        30
status              1
floor              13
furnishing         39
facing             68
description       878
price_per_sqft    294
price             191
dtype: int64

# Facing

In [38]:
df['facing'].value_counts()

facing
East                                         1409
South -West                                   341
North - East                                  259
2                                             200
1                                             166
Main Road                                     139
North                                          92
West                                           81
3                                              81
South - East                                   50
Garden/Park                                    47
Garden/Park, Main Road                         46
4                                              31
South                                          29
North - West                                   24
NA                                             22
1 Covered                                      16
1 Open                                         11
6                                              11
Freehold                                       10
Garden/Park, Pool, Main Road                    7
5                                               7
Co-operative Society                            5
Rajhans Synfonia                                4
Shyam enclave                                   3
2 Covered                                       3
1 Covered,                                      3
Shiv Shrungal Solitaire                         3
Green City                                      3
Nandini 3                                       3
Raj Abhishek City Homes                         2
Garden/Park, Pool                               2
Pool, Garden/Park                               2
Vasant Vihar Township                           2
Rajhans Orange                                  2
Silver Plaza Complex                            2
Lake Castle                                     2
Jolly Residency                                 2
Harmony                                         2
Pool, Garden/Park, Main Road                    2
Majura Gate Surat                               2
Swagat Clifton                                  2
Man Sarovar Residency and Plaza                 2
SHANKHESHWER COMPLAX                            2
Aditya Vrundavan Heights                        2
Raghuvir Saffron                                2
Shreepad Infinia                                2
JT Stuti Highland                               2
Soham Residency                                 2
Prasidhi Apartment                              2
Bella Casaa                                     1
Nova Complex                                    1
Happy Elegance                                  1
Shree Tirupati Balaji Town                      1
Nakshatra Galaxia                               1
Vaishnodevi Ideal Homes                         1
Shri Bhakti Dharm Township                      1
Pooja Aagam Cross Roads                         1
MD Om Palace                                    1
Marvella Residency                              1
Global City                                     1
Omkar Residency                                 1
Oliva Height                                    1
Dream World Residency                           1
Peak Living                                     1
Shaligram The Emerald                           1
aventis ofira                                   1
Happy Home Capital Greens                       1
Cellestial Dreams                               1
Shagun Villa                                    1
Rajhans Cremona                                 1
Santvan Seron                                   1
Coral Heights                                   1
Nandini 1                                       1
Green City Gold                                 1
Aagam Paramount                                 1
Nakshatra Nebula                                1
Prestige manor                                  1
Bilvam Regency                                  1
Ashirwad Enclave                                1
7                                               1
Raghuvir Sentosa Heights                        1
Shalibhadra Complex                             1
Sangini Gardenia                                1
Meera Park                                      1
Sundaram Status                                 1
Samarth Enclave                                 1
Palladium Sky                                   1
Green Leaf                                      1
Maa Krupa Residency Society                     1
Galaxy Imperia                                  1
Aagam Navkar                                    1
Om Vraj Vihar Residency                         1
Meera Avenue                                    1
Vitthal Bunglows                                1
Times Galaxy                                    1
2 Open                                          1
Apt Swaminagar Society                          1
Shiv Drashti Residency                          1
Manvay Residency                                1
Panchtatva Residency                            1
Savani Prayosha Pride                           1
Shakuntal Complex                               1
Shayona Janki Residency                         1
Salasar Icon                                    1
Gordhan Green Valley Mangalam Park Bldg S       1
Santvan Lexon                                   1
Sundaram Residency                              1
Sai Residency                                   1
Suryanjali Residency                            1
Navsarjan Appartment                            1
Swapna Villa 2 Phase 2                          1
Prayosha Shine                                  1
Atlanta Sky Desk                                1
Shreepad Ethics                                 1
Kalpavruksha Garden                             1
Pan Sharanam                                    1
Royal Nest                                      1
Aakash Homes                                    1
Swami Twin City 5                               1
Madhav Residency                                1
Green Valley                                    1
Anjani Enclave                                  1
Sat Aria                                        1
Satyam Tower                                    1
GHB Mukhya Mantri Gruh Yojana                   1
Siddhi Vinayak Green                            1
Siddhi Vinayak Heights                          1
Dhvani Royal Residency                          1
Ambika Heaven                                   1
Green Arcade Phase 1 And 2                      1
Rajhans Platinum                                1
Rajhans Wings                                   1
Nakshatra Platinum                              1
Stylome Heights                                 1
Residency                                       1
Vaishnodevi Amour Jahagirabad                   1
Orchid Greens                                   1
Shantam Apartment                               1
Silicon Palm                                    1
Rajhans Swapna                                  1
Varni Siddheshwar Heights                       1
Vesu Point                                      1
Name: count, dtype: int64

In [39]:
a = df[df['furnishing'] == 'East']
b = df[df['furnishing'] == 'West']
c = df[df['furnishing'] == 'North - East']
d = df[df['furnishing'] == 'North']  
e = df[df['furnishing'] == 'South -West']
f = df[df['furnishing'] == 'South']
g = df[df['furnishing'] == 'North - West']
h = df[df['furnishing'] == 'South - East']

df.loc[a.index,a.columns[-4]] = a['furnishing']
df.loc[b.index,b.columns[-4]] = b['furnishing']
df.loc[c.index,c.columns[-4]] = c['furnishing']
df.loc[d.index,d.columns[-4]] = d['furnishing']
df.loc[e.index,e.columns[-4]] = e['furnishing']
df.loc[f.index,f.columns[-4]] = f['furnishing']
df.loc[g.index,g.columns[-4]] = g['furnishing']
df.loc[h.index,h.columns[-4]] = h['furnishing']

In [40]:
x = df[~((df['facing'] == 'East') | (df['facing'] == 'West') | (df['facing'] == 'North')| (df['facing'] == 'South') | (df['facing'] == 'South -West') | (df['facing'] == 'North - East') | (df['facing'] == 'South - East') | (df['facing'] == 'North - West'))]

# mode = df['facing'].mode()[0]
df.loc[x.index,x.columns[-4]] = 'NA'

In [41]:
df['facing'].value_counts()

facing
East            1539
NA               886
South -West      342
North - East     260
North             93
West              81
South - East      50
South             31
North - West      25
Name: count, dtype: int64

In [42]:
df.shape

(3307, 11)

# Furnishing

In [43]:
df['furnishing'].value_counts()

furnishing
Unfurnished                2192
Semi-Furnished              409
Furnished                   391
East                        130
NA                           22
2                            14
Avadh Menorca                13
1                            11
Avadh Onella                 11
3                             9
Sangini Epitome               7
Bblossom The Presidency       6
DMD Signus                    3
4                             3
Sattvam                       3
Freedom Tower                 3
Prayosha Shine                3
Milestone Pristine            3
Pramukh Amaya                 3
Ambience                      3
Main Road                     2
South                         2
Freehold                      2
DMD Aura                      2
Sangini Lakeville             2
Co-operative Society          1
Garden/Park, Main Road        1
1 Open                        1
Vinayak Enclave               1
North                         1
South -West                   1
Garden/Park                   1
Santvan Lexon                 1
North - East                  1
1 Covered,                    1
Vaishnodevi Ideal Homes       1
North - West                  1
Happy Glorious                1
Raghuvir Spalex               1
3 Covered                     1
1 Covered                     1
Raghuvir Star Galaxy          1
Avadh Onica                   1
Aagam Navkar                  1
Name: count, dtype: int64

In [44]:
x = df[df['transaction'] == 'Furnished']
y = df[df['transaction'] == 'Unfurnished']
z = df[df['transaction'] == 'Semi-Furnished']

df.loc[x.index,x.columns[-5]] = x['transaction']
df.loc[y.index,y.columns[-5]] = y['transaction']
df.loc[z.index,z.columns[-5]] = z['transaction']

In [45]:
x = df[df['floor'] == 'Furnished']
y = df[df['floor'] == 'Unfurnished']
z = df[df['floor'] == 'Semi-Furnished']

df.loc[x.index,x.columns[-5]] = x['floor']
df.loc[y.index,y.columns[-5]] = y['floor']
df.loc[z.index,z.columns[-5]] = z['floor']

In [46]:
x = df[(df['furnishing'] != 'Unfurnished') & (df['furnishing'] != 'Furnished') & (df['furnishing'] != 'Semi-Furnished')]

# mode = df['furnishing'].mode()[0]
df.loc[x.index,x.columns[6]] = 'NA'

In [47]:
df['furnishing'].value_counts()

furnishing
Unfurnished       2412
Semi-Furnished     420
Furnished          408
NA                  67
Name: count, dtype: int64

# Transaction

In [48]:
df['transaction'].value_counts()

transaction
Resale                  1596
New Property            1400
Unfurnished              214
NA                        22
Furnished                 15
Semi-Furnished            11
Orchid Gardenia            3
Raghuvir Silverstone       2
Jolly Residency            2
Sundaram Residency         1
North                      1
Aakash Echo Point          1
3                          1
West                       1
Shagun Residency           1
Other                      1
1 Covered                  1
Green City                 1
1                          1
Mangalam Heights           1
Sangini Epitome            1
Name: count, dtype: int64

In [49]:
x = df[df['floor'] == 'Resale']
y = df[df['floor'] == 'New Property']

df.loc[x.index,x.columns[3]] = x['floor']
df.loc[y.index,y.columns[3]] = y['floor']

In [50]:
x = df[df['status'] == 'Resale']
y = df[df['status'] == 'New Property']

df.loc[x.index,x.columns[3]] = x['status']
df.loc[y.index,y.columns[3]] = y['status']

In [51]:
df['transaction'].value_counts()

transaction
Resale            1667
New Property      1599
NA                  22
Semi-Furnished       6
Unfurnished          5
Furnished            4
1                    1
Other                1
3                    1
Name: count, dtype: int64

In [52]:
df = df[(df['transaction'] != '1') & (df['transaction'] != '2') & (df['transaction'] != '3') & (df['transaction'] != 'Other')]

In [53]:
# mode = df.transaction.mode()[0]

x = df[(df['transaction'] == 'Furnished') | (df['transaction'] == 'Unfurnished') | (df['transaction'] == 'Semi-Furnished')]

df.loc[x.index,x.columns[3]] = 'NA'

In [54]:
df['transaction'].value_counts()

transaction
Resale          1667
New Property    1599
NA                37
Name: count, dtype: int64

In [55]:
df.shape

(3304, 11)

In [56]:
df.sample(3)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
1563,3 BHK Apartment for Sale in Silver Spring Appa...,Carpet Area,1500 sqft,Resale,Ready to Move,2 out of 7,Furnished,NA,fully ventilated,4121.0,0.75
3329,"5 BHK Apartment for Sale in Veer Supremus, Pal...",Super Area,4378 sqft,New Property,Poss. by Jul '24,8 out of 13,Unfurnished,East,Luxurious Flat For Sell In Surat City Prime Ar...,5756.0,2.52
168,1 BHK Apartment for Sale in Kailash Nagar Surat,Super Area,550 sqft,Resale,Ready to Move,1 out of 4,Semi-Furnished,NA,NaN,3091.0,0.17

# Square Feet

In [57]:
df['square_feet'] = df['square_feet'].str.split(' ').str.get(0)

In [58]:
df.shape

(3304, 11)

In [59]:
df.head(2)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
0,"2 BHK Apartment for Sale in Pramukh Amaya, Pal...",Super Area,1311,New Property,Poss. by Dec '24,New Property,Unfurnished,NA,"Multistorey Apartment for Sale in Palanpur, Su...",4251.0,0.56
1,"3 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1586,New Property,New Property,Unfurnished,Unfurnished,NA,"Multistorey Apartment for Sale in Palanpur, Su...",3751.0,0.59

# Floor

In [60]:
df.isnull().sum()

property_name       0
areaWithType        1
square_feet         1
transaction         1
status              1
floor              13
furnishing          0
facing              0
description       877
price_per_sqft    291
price             190
dtype: int64

In [61]:
df['floor'].value_counts()

floor
5 out of 13                 209
New Property                194
7 out of 13                 147
6 out of 13                 128
5 out of 12                 115
6 out of 12                 103
4 out of 5                   78
3 out of 5                   76
2 out of 5                   75
8 out of 13                  69
5 out of 14                  67
7 out of 14                  67
7 out of 12                  66
9 out of 13                  58
6 out of 14                  57
1 out of 5                   52
Resale                       51
3 out of 4                   49
9 out of 14                  49
8 out of 12                  48
4 out of 4                   48
4 out of 13                  47
8 out of 14                  45
5 out of 5                   40
10 out of 13                 40
2 out of 4                   39
9 out of 12                  33
1 out of 4                   32
5 out of 10                  30
4 out of 12                  29
11 out of 12                 28
8 out of 8                   28
5 out of 11                  25
11 out of 13                 25
3 out of 13                  24
10 out of 14                 24
NA                           22
12 out of 13                 22
1 out of 12                  21
7 out of 10                  21
3 out of 3                   20
13 out of 13                 20
7 out of 11                  20
1 out of 13                  20
6 out of 10                  19
3 out of 14                  19
4 out of 10                  19
4 out of 14                  19
2 out of 13                  18
10 out of 12                 18
2 out of 3                   18
2 out of 10                  17
12 out of 12                 16
6 out of 11                  16
3 out of 10                  15
8 out of 10                  15
2 out of 12                  14
14 out of 14                 14
9 out of 10                  13
3 out of 12                  12
3 out of 6                   12
12 out of 14                 11
11 out of 14                 11
8 out of 11                  11
10 out of 11                 11
1 out of 7                   11
5 out of 6                   11
13 out of 14                 10
Ground out of 4              10
4 out of 6                   10
2 out of 7                   10
7 out of 7                    9
1 out of 1                    9
9 out of 11                   9
1 out of 10                   9
2 out of 11                   9
9 out of 15                   9
10 out of 10                  9
1 out of 11                   9
5 out of 20                   8
5 out of 15                   8
8 out of 9                    8
11 out of 11                  8
1 out of 3                    8
1 out of 14                   8
4 out of 8                    8
7 out of 8                    8
6 out of 8                    7
2 out of 6                    7
5 out of 7                    7
6 out of 9                    7
4 out of 7                    7
4 out of 9                    6
4 out of 11                   6
3 out of 7                    6
8 out of 15                   6
10 out of 19                  6
2 out of 14                   6
Unfurnished                   6
1 out of 6                    6
3 out of 11                   6
5 out of 8                    5
1 out of 8                    5
5 out of 16                   5
18 out of 19                  5
1 out of 9                    5
5 out of 18                   5
9 out of 9                    5
6 out of 18                   5
6 out of 7                    5
10 out of 15                  5
2 out of 2                    5
6 out of 19                   4
9 out of 19                   4
4 out of 15                   4
Lower Basement out of 14      4
5 out of 19                   4
6 out of 15                   4
9 out of 20                   4
3 out of 8                    4
13 out of 15                  4
7 out of 9                    4
11 out of 15                  3
5 out of 9                    3
10 out of 21                  3
16 out of 19                  3
7 out of 19                   3
8 out of 19                   3
17 out of 18                  3
10 out of 20                  3
3 out of 18                   3
16 out of 20                  3
15 out of 19                  3
3 out of 9                    3
1 out of 15                   3
3 out of 20                   3
10 out of 18                  2
3 out of 19                   2
12 out of 19                  2
7 out of 15                   2
9 out of 25                   2
8 out of 20                   2
17 out of 19                  2
6 out of 6                    2
1 out of 20                   2
6 out of 20                   2
7 out of 18                   2
2 out of 19                   2
2 out of 9                    2
Upper Basement out of 5       2
12 out of 15                  2
13 out of 19                  2
15 out of 15                  2
Ground out of 13              2
Ground out of 2               2
2 out of 8                    2
11 out of 20                  2
Ground out of 3               2
Ground out of 1               2
Ground out of 5               2
Lower Basement out of 59      1
Other                         1
19 out of 19                  1
Lower Basement out of 4       1
16 out of 18                  1
7 out of 17                   1
4 out of 20                   1
Lower Basement out of 5       1
Upper Basement out of 12      1
20 out of 21                  1
2 out of 17                   1
20 out of 20                  1
9 out of 18                   1
9 out of 17                   1
14 out of 20                  1
7 out of 20                   1
1 out of 60                   1
Upper Basement out of 14      1
4 out of 18                   1
Om Residency                  1
17 out of 20                  1
1 out of 30                   1
14 out of 15                  1
Milestone Regalia             1
Celebrity Green               1
4 out of 19                   1
1 out of 2                    1
Shreepad Panorama             1
Gopinath Heights              1
15 out of 20                  1
Milestone Utsav               1
Lower Basement out of 2       1
Upper Basement out of 1       1
The Polaris Avenue            1
2 out of 15                   1
3 out of 15                   1
15 out of 18                  1
18 out of 21                  1
Ground out of 7               1
1 out of 18                   1
Name: count, dtype: int64

In [62]:
df = df[(~df.status.isnull())]

In [63]:
x = df[df['status'].str.contains('out of')]

df.loc[x.index,x.columns[5]] =  x['status']

In [64]:
df['floor'].value_counts()

floor
5 out of 13                 214
New Property                176
7 out of 13                 149
6 out of 13                 128
5 out of 12                 115
6 out of 12                 103
4 out of 5                   79
3 out of 5                   76
2 out of 5                   76
8 out of 13                  72
5 out of 14                  69
7 out of 14                  68
7 out of 12                  66
9 out of 13                  62
6 out of 14                  57
1 out of 5                   52
3 out of 4                   50
9 out of 14                  50
8 out of 12                  48
4 out of 4                   48
4 out of 13                  47
8 out of 14                  46
5 out of 5                   42
2 out of 4                   41
10 out of 13                 40
9 out of 12                  33
4 out of 12                  32
1 out of 4                   32
5 out of 10                  30
8 out of 8                   28
11 out of 12                 28
3 out of 13                  25
5 out of 11                  25
11 out of 13                 25
10 out of 14                 24
NA                           22
1 out of 12                  22
12 out of 13                 22
3 out of 3                   21
7 out of 10                  21
Resale                       21
13 out of 13                 20
7 out of 11                  20
4 out of 14                  20
1 out of 13                  20
4 out of 10                  19
2 out of 13                  19
3 out of 14                  19
6 out of 10                  19
10 out of 12                 18
2 out of 3                   18
12 out of 12                 17
2 out of 10                  17
6 out of 11                  17
8 out of 10                  16
3 out of 10                  16
2 out of 12                  15
14 out of 14                 14
1 out of 7                   13
9 out of 10                  13
3 out of 12                  12
10 out of 11                 12
11 out of 14                 12
3 out of 6                   12
8 out of 11                  11
12 out of 14                 11
5 out of 6                   11
4 out of 6                   10
2 out of 7                   10
13 out of 14                 10
9 out of 11                  10
Ground out of 4              10
2 out of 11                   9
10 out of 10                  9
1 out of 10                   9
9 out of 15                   9
1 out of 1                    9
1 out of 11                   9
7 out of 7                    9
5 out of 15                   8
7 out of 8                    8
4 out of 8                    8
8 out of 9                    8
5 out of 20                   8
1 out of 3                    8
1 out of 14                   8
11 out of 11                  8
4 out of 9                    7
3 out of 7                    7
5 out of 7                    7
4 out of 11                   7
4 out of 7                    7
6 out of 8                    7
6 out of 9                    7
2 out of 6                    7
3 out of 11                   6
10 out of 19                  6
Unfurnished                   6
8 out of 15                   6
1 out of 6                    6
2 out of 14                   6
5 out of 16                   5
18 out of 19                  5
6 out of 18                   5
5 out of 8                    5
1 out of 9                    5
6 out of 7                    5
9 out of 9                    5
5 out of 18                   5
10 out of 15                  5
2 out of 2                    5
1 out of 8                    5
13 out of 15                  4
5 out of 19                   4
Lower Basement out of 14      4
3 out of 8                    4
7 out of 9                    4
9 out of 20                   4
4 out of 15                   4
9 out of 19                   4
6 out of 15                   4
6 out of 19                   4
8 out of 19                   3
10 out of 20                  3
17 out of 18                  3
7 out of 19                   3
15 out of 19                  3
3 out of 18                   3
1 out of 15                   3
10 out of 21                  3
5 out of 9                    3
3 out of 9                    3
16 out of 19                  3
3 out of 20                   3
11 out of 15                  3
16 out of 20                  3
8 out of 20                   2
1 out of 20                   2
6 out of 6                    2
2 out of 9                    2
3 out of 19                   2
7 out of 18                   2
9 out of 25                   2
6 out of 20                   2
7 out of 15                   2
12 out of 19                  2
17 out of 19                  2
10 out of 18                  2
2 out of 19                   2
Upper Basement out of 5       2
12 out of 15                  2
Ground out of 2               2
13 out of 19                  2
Ground out of 13              2
2 out of 8                    2
11 out of 20                  2
Ground out of 5               2
Ground out of 3               2
Ground out of 1               2
15 out of 15                  2
2 out of 17                   1
20 out of 21                  1
7 out of 20                   1
Other                         1
19 out of 19                  1
14 out of 20                  1
Lower Basement out of 4       1
16 out of 18                  1
9 out of 17                   1
7 out of 17                   1
9 out of 18                   1
Lower Basement out of 59      1
Lower Basement out of 5       1
Upper Basement out of 12      1
4 out of 20                   1
20 out of 20                  1
1 out of 60                   1
Ground out of 7               1
4 out of 18                   1
Shreepad Panorama             1
Om Residency                  1
17 out of 20                  1
1 out of 30                   1
Celebrity Green               1
14 out of 15                  1
Milestone Regalia             1
4 out of 19                   1
Lower Basement out of 1       1
1 out of 2                    1
Gopinath Heights              1
Upper Basement out of 14      1
15 out of 20                  1
Milestone Utsav               1
Lower Basement out of 2       1
Upper Basement out of 1       1
The Polaris Avenue            1
2 out of 15                   1
3 out of 15                   1
15 out of 18                  1
18 out of 21                  1
1 out of 18                   1
Name: count, dtype: int64

In [65]:
x = df[df['floor'] == 'Resale']
y = df[df['floor'] == 'New Property']
z = df[df['floor'] == 'Unfurnished']


df.loc[x.index,x.columns[5]] = 'NA'
df.loc[y.index,y.columns[5]] = 'NA'
df.loc[z.index,z.columns[5]] = 'NA'

In [66]:
df.floor.value_counts()

floor
NA                          225
5 out of 13                 214
7 out of 13                 149
6 out of 13                 128
5 out of 12                 115
6 out of 12                 103
4 out of 5                   79
3 out of 5                   76
2 out of 5                   76
8 out of 13                  72
5 out of 14                  69
7 out of 14                  68
7 out of 12                  66
9 out of 13                  62
6 out of 14                  57
1 out of 5                   52
9 out of 14                  50
3 out of 4                   50
8 out of 12                  48
4 out of 4                   48
4 out of 13                  47
8 out of 14                  46
5 out of 5                   42
2 out of 4                   41
10 out of 13                 40
9 out of 12                  33
4 out of 12                  32
1 out of 4                   32
5 out of 10                  30
8 out of 8                   28
11 out of 12                 28
3 out of 13                  25
5 out of 11                  25
11 out of 13                 25
10 out of 14                 24
12 out of 13                 22
1 out of 12                  22
7 out of 10                  21
3 out of 3                   21
4 out of 14                  20
7 out of 11                  20
1 out of 13                  20
13 out of 13                 20
4 out of 10                  19
6 out of 10                  19
3 out of 14                  19
2 out of 13                  19
10 out of 12                 18
2 out of 3                   18
6 out of 11                  17
2 out of 10                  17
12 out of 12                 17
8 out of 10                  16
3 out of 10                  16
2 out of 12                  15
14 out of 14                 14
1 out of 7                   13
9 out of 10                  13
11 out of 14                 12
3 out of 6                   12
10 out of 11                 12
3 out of 12                  12
5 out of 6                   11
8 out of 11                  11
12 out of 14                 11
2 out of 7                   10
9 out of 11                  10
13 out of 14                 10
4 out of 6                   10
Ground out of 4              10
9 out of 15                   9
2 out of 11                   9
7 out of 7                    9
1 out of 10                   9
10 out of 10                  9
1 out of 11                   9
1 out of 1                    9
1 out of 14                   8
11 out of 11                  8
7 out of 8                    8
5 out of 20                   8
4 out of 8                    8
1 out of 3                    8
5 out of 15                   8
8 out of 9                    8
5 out of 7                    7
4 out of 11                   7
6 out of 8                    7
3 out of 7                    7
4 out of 7                    7
4 out of 9                    7
6 out of 9                    7
2 out of 6                    7
10 out of 19                  6
8 out of 15                   6
3 out of 11                   6
2 out of 14                   6
1 out of 6                    6
6 out of 7                    5
1 out of 8                    5
6 out of 18                   5
5 out of 18                   5
1 out of 9                    5
5 out of 16                   5
18 out of 19                  5
2 out of 2                    5
5 out of 8                    5
10 out of 15                  5
9 out of 9                    5
9 out of 19                   4
Lower Basement out of 14      4
6 out of 15                   4
5 out of 19                   4
9 out of 20                   4
4 out of 15                   4
3 out of 8                    4
13 out of 15                  4
7 out of 9                    4
6 out of 19                   4
8 out of 19                   3
1 out of 15                   3
3 out of 20                   3
10 out of 20                  3
17 out of 18                  3
7 out of 19                   3
3 out of 9                    3
15 out of 19                  3
16 out of 20                  3
10 out of 21                  3
5 out of 9                    3
3 out of 18                   3
16 out of 19                  3
11 out of 15                  3
12 out of 15                  2
12 out of 19                  2
Ground out of 5               2
Upper Basement out of 5       2
6 out of 20                   2
8 out of 20                   2
1 out of 20                   2
9 out of 25                   2
17 out of 19                  2
7 out of 15                   2
11 out of 20                  2
2 out of 9                    2
10 out of 18                  2
6 out of 6                    2
13 out of 19                  2
Ground out of 3               2
Ground out of 13              2
Ground out of 1               2
2 out of 8                    2
15 out of 15                  2
7 out of 18                   2
2 out of 19                   2
3 out of 19                   2
Ground out of 2               2
19 out of 19                  1
16 out of 18                  1
2 out of 17                   1
4 out of 20                   1
20 out of 20                  1
9 out of 18                   1
1 out of 60                   1
9 out of 17                   1
4 out of 18                   1
14 out of 20                  1
7 out of 17                   1
7 out of 20                   1
18 out of 21                  1
Ground out of 7               1
15 out of 18                  1
20 out of 21                  1
Lower Basement out of 5       1
The Polaris Avenue            1
Upper Basement out of 1       1
Lower Basement out of 2       1
Milestone Utsav               1
Gopinath Heights              1
Shreepad Panorama             1
Lower Basement out of 1       1
4 out of 19                   1
Celebrity Green               1
Upper Basement out of 14      1
Upper Basement out of 12      1
3 out of 15                   1
Om Residency                  1
17 out of 20                  1
1 out of 30                   1
Lower Basement out of 59      1
14 out of 15                  1
Milestone Regalia             1
1 out of 2                    1
15 out of 20                  1
Other                         1
Lower Basement out of 4       1
2 out of 15                   1
1 out of 18                   1
Name: count, dtype: int64

In [67]:
df = df[~((df['floor'] == 'Milestone Regalia') | (df['floor'] == 'Om Residency') | (df['floor'] == 'Celebrity Green') | (df['floor'] == 'Shreepad Panorama') | (df['floor'] == 'Gopinath Heights') | (df['floor'] == 'Milestone Utsav') | (df['floor'] == 'The Polaris Avenue') | (df['floor'] == 'Other'))]

In [68]:
df = df[~((df['floor'].isnull()) & (df['description'].isnull()) & (df['price'].isnull()) & (df['price_per_sqft'].isnull()))]

In [69]:
df.isnull().sum()

property_name       0
areaWithType        0
square_feet         0
transaction         0
status              0
floor               1
furnishing          0
facing              0
description       859
price_per_sqft    273
price             173
dtype: int64

In [70]:
df[df.floor.isnull()] = 'NA'

In [71]:
df.isnull().sum()

property_name       0
areaWithType        0
square_feet         0
transaction         0
status              0
floor               0
furnishing          0
facing              0
description       858
price_per_sqft    273
price             173
dtype: int64

In [72]:
df.head(4)

,property_name,areaWithType,square_feet,transaction,status,floor,furnishing,facing,description,price_per_sqft,price
0,"2 BHK Apartment for Sale in Pramukh Amaya, Pal...",Super Area,1311,New Property,Poss. by Dec '24,NA,Unfurnished,NA,"Multistorey Apartment for Sale in Palanpur, Su...",4251.0,0.56
1,"3 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1586,New Property,New Property,NA,Unfurnished,NA,"Multistorey Apartment for Sale in Palanpur, Su...",3751.0,0.59
2,"2 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1185,New Property,Ready to Move,5 out of 14,Unfurnished,East,2 BHK Flat For Sale In Palanpur area With All ...,3784.0,0.45
3,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644,New Property,Poss. by Oct '24,5 out of 10,Unfurnished,West,"Luxury project with basement parking, Solar ro...",2891.0,0.34

In [73]:
df.shape

(3284, 11)

In [74]:
# df = df[~(df.floor.isnull())]
# df = df[df.floor.str.contains('out of')]

floorNum = df.floor.str.split(' ').str.get(0).replace('Ground',0).replace('Upper',-1).replace('Lower',-2)
totalFloor = df.floor.str.split(' ').str.get(-1)

df.insert(5,'floorNum',floorNum)
df.insert(6,'totalFloor',totalFloor)
df.drop(columns='floor',inplace=True)

In [75]:
df.sample(2)

,property_name,areaWithType,square_feet,transaction,status,floorNum,totalFloor,furnishing,facing,description,price_per_sqft,price
2260,"4 BHK Apartment for Sale in Greenopolis, Vesu ...",Super Area,2831,New Property,Poss. by Aug '24,5,12,Unfurnished,North,Looking for a 4 bhk property for sale in surat...,5500.0,1.55
593,2 BHK Apartment for Sale in Gujrati Surat,Carpet Area,600,Resale,Ready to Move,1,5,Semi-Furnished,NA,NaN,3487.0,0.37

In [76]:
df['floorNum'].value_counts()

floorNum
5     551
6     360
7     354
4     291
3     260
8     240
2     231
NA    226
1     207
9     194
10    122
11     78
12     54
13     36
0      21
14     16
-2      9
16      7
15      7
18      6
17      6
-1      5
20      2
19      1
Name: count, dtype: int64

In [77]:
df['totalFloor'].value_counts()

totalFloor
13    845
12    510
14    419
5     330
NA    226
4     182
10    169
11    134
8      67
7      59
15     55
3      49
6      48
19     47
9      44
20     35
18     25
1      13
2       9
16      5
21      5
17      3
25      2
59      1
30      1
60      1
Name: count, dtype: int64

In [78]:
df.head(4)

,property_name,areaWithType,square_feet,transaction,status,floorNum,totalFloor,furnishing,facing,description,price_per_sqft,price
0,"2 BHK Apartment for Sale in Pramukh Amaya, Pal...",Super Area,1311,New Property,Poss. by Dec '24,NA,NA,Unfurnished,NA,"Multistorey Apartment for Sale in Palanpur, Su...",4251.0,0.56
1,"3 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1586,New Property,New Property,NA,NA,Unfurnished,NA,"Multistorey Apartment for Sale in Palanpur, Su...",3751.0,0.59
2,"2 BHK Apartment for Sale in Orchid Gardenia, P...",Super Area,1185,New Property,Ready to Move,5,14,Unfurnished,East,2 BHK Flat For Sale In Palanpur area With All ...,3784.0,0.45
3,2 BHK Apartment for Sale in Dindoli Surat,Carpet Area,644,New Property,Poss. by Oct '24,5,10,Unfurnished,West,"Luxury project with basement parking, Solar ro...",2891.0,0.34

# Create BHK columns from property_name

In [79]:
bhk = df['property_name'].str.split(' ').str.get(0).str.strip()

df.insert(1,'bhk',bhk)

In [80]:
df.head()

,property_name,bhk,areaWithType,square_feet,transaction,status,floorNum,totalFloor,furnishing,facing,description,price_per_sqft,price
0,"2 BHK Apartment for Sale in Pramukh Amaya, Pal...",2,Super Area,1311,New Property,Poss. by Dec '24,NA,NA,Unfurnished,NA,"Multistorey Apartment for Sale in Palanpur, Su...",4251.0,0.56
1,"3 BHK Apartment for Sale in Orchid Gardenia, P...",3,Super Area,1586,New Property,New Property,NA,NA,Unfurnished,NA,"Multistorey Apartment for Sale in Palanpur, Su...",3751.0,0.59
2,"2 BHK Apartment for Sale in Orchid Gardenia, P...",2,Super Area,1185,New Property,Ready to Move,5,14,Unfurnished,East,2 BHK Flat For Sale In Palanpur area With All ...,3784.0,0.45
3,2 BHK Apartment for Sale in Dindoli Surat,2,Carpet Area,644,New Property,Poss. by Oct '24,5,10,Unfurnished,West,"Luxury project with basement parking, Solar ro...",2891.0,0.34
4,"2 BHK Apartment for Sale in Sumerru Sky Leaf, ...",2,Super Area,1204,New Property,Poss. by Jan '26,7,14,Unfurnished,East,"This 2 BHK flat is incredibly affordable, with...",3838.0,0.46

In [81]:
df['bhk'].value_counts()

df[df['bhk'] == ''] = 'NA'

In [82]:
df['bhk'].value_counts()

bhk
3     1270
2     1051
4      498
1      287
5      117
6       30
NA      29
8        1
7        1
Name: count, dtype: int64

# Status

In [83]:
df.status.value_counts()

status
Ready to Move              2163
Poss. by Dec '24            151
Poss. by Dec '25             82
Poss. by Jul '24             68
Poss. by Apr '25             67
Poss. by Mar '25             60
Poss. by Jan '25             52
Poss. by Dec '26             48
Poss. by Aug '24             42
Poss. by Jun '25             39
Poss. by Jun '24             38
Poss. by May '25             34
NA                           29
Poss. by Oct '25             28
Poss. by Jan '26             28
Poss. by Sep '24             28
Poss. by Oct '24             28
Poss. by Jun '26             24
Poss. by Feb '25             22
Poss. by Nov '24             21
Poss. by Sep '25             19
Poss. by Aug '25             18
Poss. by Jun '27             17
Poss. by Jul '25             15
Poss. by Mar '26             15
Poss. by Apr '26             14
Poss. by May '26             13
Poss. by Nov '25             13
Poss. by Feb '26             11
Poss. by Oct '26              9
Poss. by Dec '27              9
New Property                  5
5 out of 13                   5
Poss. by May '27              4
9 out of 13                   4
Poss. by Jan '27              3
8 out of 13                   3
Poss. by Jul '26              3
Poss. by Dec '28              3
4 out of 12                   3
Poss. by Sep '26              3
Poss. by Apr '27              2
1 out of 7                    2
Poss. by Aug '26              2
5 out of 14                   2
Poss. by Mar '27              2
7 out of 13                   2
5 out of 5                    2
2 out of 4                    2
4 out of 9                    1
7 out of 14                   1
Poss. by Nov '26              1
Poss. by Mar '28              1
9 out of 14                   1
Poss. by Jul '27              1
4 out of 11                   1
12 out of 12                  1
8 out of 14                   1
3 out of 13                   1
2 out of 12                   1
3 out of 7                    1
10 out of 11                  1
3 out of 10                   1
3 out of 4                    1
3 out of 3                    1
11 out of 14                  1
4 out of 5                    1
Resale                        1
Lower Basement out of 1       1
2 out of 13                   1
1 out of 12                   1
9 out of 11                   1
6 out of 11                   1
4 out of 14                   1
8 out of 10                   1
Poss. by Nov '28              1
Name: count, dtype: int64

In [84]:
df.shape

(3284, 13)

In [85]:
df.isnull().sum()

property_name       0
bhk                 0
areaWithType        0
square_feet         0
transaction         0
status              0
floorNum            0
totalFloor          0
furnishing          0
facing              0
description       853
price_per_sqft    271
price             171
dtype: int64

In [86]:
df.shape

(3284, 13)

In [87]:
df.sample(2)

,property_name,bhk,areaWithType,square_feet,transaction,status,floorNum,totalFloor,furnishing,facing,description,price_per_sqft,price
904,"2 BHK Apartment for Sale in Swagat Clifton, Bh...",2,Super Area,1252,New Property,Ready to Move,7,12,Unfurnished,East,2 BHK Luxurious Flat For Sell In Althan Area ....,3994.0,0.5
2628,"3 BHK Apartment for Sale in Shilalekh Imperia,...",3,Carpet Area,960,New Property,Poss. by Aug '25,6,13,Unfurnished,East,NaN,4527.0,0.79

In [88]:
df.to_csv('Surat_cleaned.csv',index=False)