In [13]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_csv('surat_mvi.csv')

df.shape

(3108, 13)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3108 entries, 0 to 3107
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        3108 non-null   object
 1   bhk             3108 non-null   int64
 2   areaType        3108 non-null   object
 3   square_feet     3108 non-null   int64
 4   transaction     3108 non-null   object
 5   status          3108 non-null   object
 6   floorNum        3108 non-null   float64
 7   totalFloor      3108 non-null   float64
 8   furnishing      3108 non-null   object
 9   facing          3108 non-null   object
 10  price_per_sqft  3108 non-null   float64
 11  price           3108 non-null   float64
 12  bathroom        3108 non-null   int64
dtypes: float64(4), int64(3), object(6)
memory usage: 315.8+ KB

In [17]:
df.duplicated().sum()

df.drop_duplicates(inplace=True)

In [5]:
df['location'].value_counts()

location
vesu                                  820
palanpur                              574
pal                                   322
althan                                254
adajan                                196
jahangirpura                          193
dumas road/hazira                     136
dindoli                               121
athwalines                            104
udhna                                  54
amroli                                 51
nanpura/gopipura/chauta/sagrampura     38
katargam                               36
sarthana/varachha                      29
kamrej                                 24
punagam                                22
sachin                                 18
kadodara                               12
bardoli                                 6
Name: count, dtype: int64

In [6]:
df['location'].unique()

array(['palanpur', 'dindoli', 'pal', 'jahangirpura', 'althan',
       'athwalines', 'amroli', 'adajan', 'dumas road/hazira', 'vesu',
       'kamrej', 'udhna', 'katargam',
       'nanpura/gopipura/chauta/sagrampura', 'sarthana/varachha',
       'punagam', 'sachin', 'bardoli', 'kadodara'], dtype=object)

In [7]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\hp\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\hp\anaconda3\lib\site-packages (from geopy) (2.0)

In [8]:
# from geopy.geocoders import Nominatim

# locations = ['palanpur', 'dindoli', 'pal', 'jahangirpura', 'althan',
#        'athwalines', 'amroli', 'adajan', 'dumas road/hazira', 'vesu',
#        'kamrej', 'udhna', 'katargam',
#        'nanpura/gopipura/chauta/sagrampura', 'sarthana/varachha',
#        'punagam', 'sachin', 'bardoli', 'kadodara']

# geolocator = Nominatim(user_agent='geo_locator')

# # Creating a DataFrame to store location and coordinates
# location_data = []

# for location in locations:
#     try:
#         # Geocode the location
#         geocode_result = geolocator.geocode(location + ", Surat, India")
#         if geocode_result:
#             location_data.append({
#                 "location": location,
#                 "latitude": geocode_result.latitude,
#                 "longitude": geocode_result.longitude
#             })
#         else:
#             print(f"Coordinates not found for location: {location}")
#             location_data.append({
#                 "location": location,
#                 "latitude": None,
#                 "longitude": None
#             })
#     except Exception as e:
#         print(f"Error occurred for location {location}: {e}")
#         location_data.append({
#             "location": location,
#             "latitude": None,
#             "longitude": None
#         })

# # Convert results into a DataFrame
# df_coordinates = pd.DataFrame(location_data)
# print(df_coordinates)

In [9]:
from geopy.geocoders import Nominatim
import pandas as pd
import re

locations = ['palanpur', 'dindoli', 'pal', 'jahangirpura', 'althan',
       'athwalines', 'amroli', 'adajan', 'dumas road/hazira', 'vesu',
       'kamrej', 'udhna', 'katargam',
       'nanpura/gopipura/chauta/sagrampura', 'sarthana/varachha',
       'punagam', 'sachin', 'bardoli', 'kadodara']

geolocator = Nominatim(user_agent="geo_locator")

location_data = []

for location in locations:
    # Extract the first main area
    main_area = re.split(r'[\/|-]', location)[0].strip()
    try:
        # Attempt to get coordinates using main area
        geocode_result = geolocator.geocode(main_area + ", Surat, India")
        if geocode_result:
            location_data.append({
                "original_location": location,
                "main_area": main_area,
                "latitude": geocode_result.latitude,
                "longitude": geocode_result.longitude
            })
        else:
            print(f"Coordinates not found for main area: {main_area}")
            location_data.append({
                "original_location": location,
                "main_area": main_area,
                "latitude": None,
                "longitude": None
            })
    except Exception as e:
        print(f"Error for {main_area}: {e}")
        location_data.append({
            "original_location": location,
            "main_area": main_area,
            "latitude": None,
            "longitude": None
        })

# Convert to DataFrame
df_coordinates = pd.DataFrame(location_data)
print(df_coordinates)

Coordinates not found for main area: punagam
                     original_location     main_area   latitude  longitude
0                             palanpur      palanpur  21.218493  72.777798
1                              dindoli       dindoli  21.152321  72.872486
2                                  pal           pal  21.196768  72.778272
3                         jahangirpura  jahangirpura  21.231651  72.790804
4                               althan        althan  21.146873  72.808955
5                           athwalines    athwalines  21.170026  72.788361
6                               amroli        amroli  21.237549  72.850577
7                               adajan        adajan  21.265120  72.849913
8                    dumas road/hazira    dumas road  21.082445  72.717249
9                                 vesu          vesu  21.137157  72.788747
10                              kamrej        kamrej  21.279777  72.948269
11                               udhna         udhna  21.163772  72.861264
12                            katargam      katargam  21.228822  72.825308
13  nanpura/gopipura/chauta/sagrampura       nanpura  21.189893  72.815368
14                   sarthana/varachha      sarthana  21.230133  72.900819
15                             punagam       punagam        NaN        NaN
16                              sachin        sachin  21.077878  72.874464
17                             bardoli       bardoli  21.133829  73.105390
18                            kadodara      kadodara  21.173694  72.958149

In [10]:
# Find the index for the specific location
index_to_update = df_coordinates[df_coordinates['original_location'] == 'punagam'].index

# Update the latitude and longitude using loc
df_coordinates.loc[index_to_update, 'latitude'] = 21.204674
df_coordinates.loc[index_to_update, 'longitude'] = 72.873991

In [11]:
df_coordinates

                     original_location     main_area   latitude  longitude
0                             palanpur      palanpur  21.218493  72.777798
1                              dindoli       dindoli  21.152321  72.872486
2                                  pal           pal  21.196768  72.778272
3                         jahangirpura  jahangirpura  21.231651  72.790804
4                               althan        althan  21.146873  72.808955
5                           athwalines    athwalines  21.170026  72.788361
6                               amroli        amroli  21.237549  72.850577
7                               adajan        adajan  21.265120  72.849913
8                    dumas road/hazira    dumas road  21.082445  72.717249
9                                 vesu          vesu  21.137157  72.788747
10                              kamrej        kamrej  21.279777  72.948269
11                               udhna         udhna  21.163772  72.861264
12                            katargam      katargam  21.228822  72.825308
13  nanpura/gopipura/chauta/sagrampura       nanpura  21.189893  72.815368
14                   sarthana/varachha      sarthana  21.230133  72.900819
15                             punagam       punagam  21.204674  72.873991
16                              sachin        sachin  21.077878  72.874464
17                             bardoli       bardoli  21.133829  73.105390
18                            kadodara      kadodara  21.173694  72.958149

In [12]:
df_coordinates.rename(columns={'original_location' : 'location'},inplace=True)

df_coordinates = df_coordinates[['location','latitude','longitude']]

df_coordinates.to_csv("surat_lat_long.csv", index=False)